@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 *
 */
.layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}
 /*提示浮层小*/
 .layer-small{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    font-size: 14px;
    line-height: 30px;
    padding:0 0 30px;
    width: 420px;
    min-height: 100px;
    margin: -127px 0 0 -210px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}
  .layer .layer-small .layer-box{
    text-align: center;
 }
  .layer .layer-small img{
    width: 180px;
  }

/*loading加载*/
.layer-loading .layer-tip{
    padding: 10px 30px;
    width: 160px;
    margin: -74px 0 0 -110px;
    min-height: auto
}
.layer-loading img{
    width: 100%;
}
/*单行提示浮层*/
.layer-floating{
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: -40px 0 0 -132px;
    width: 244px;
    line-height: 30px;
    padding: 25px 10px;
    z-index: 99;
    display: none; 
}
.layer-floating .cover{
    opacity: 0.57;
    filter: alpha(opacity=57);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.layer-floating p{
    position: relative;
    font-size: 16px;
}


.layer .close{
    background: url(../images/layer-close.png) center center no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 3;
}
.layer .come-back{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 28px;
    height: 28px;
    display: inline-block;
    background: url(../images/back.png) no-repeat;;
}
.layer-tip{
    background: #fff;
    font-size: 14px;
    line-height: 30px;
    padding:0 0 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    min-height: 294px;
    width: 600px;
    margin: -162px 0 0 -300px;
    -moz-border-radius:5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
}
.layer h2{
    background: #0171e4;
    line-height: 44px;
    font-size: 16px;
    text-align: center;
    color: #fff;
    -moz-border-top-left-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    border-top-left-radius: 4px;
    -moz-border-top-right-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    border-top-right-radius: 4px;
}
.layer p.center{
    text-align: center;
    line-height: 24px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 0 14px;
    font-size: 14px;
}
.layer .layer-box{
    max-width: 446px;
    margin: 0 auto;
    padding: 20px 0 30px;
    line-height: 40px;
    text-align: left;
}
.layer .btn{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 30px;
    width: 446px;
    margin: 0 0 0 -223px;
}
.layer .btn p{
    line-height: 28px;
    margin: 0 0 -8px;
}
.layer .btn p .away{
    padding: 0 10px;
}
.layer .btn p a{
    padding: 0 0 0 10px;
}
.layer .btn .button-away{
   margin-right: 8%;
}

.layer .form .item-box{
    margin: 0 0 20px;
    position: relative;
}
.layer .form .text{
    width: 404px;
    border: 1px solid #dde7f0;
    line-height: 40px;
    height: 40px;
    padding: 0 20px;
    font-size: 14px;
    outline: none;
}
.layer .form .add-button{
    position: absolute;
    right: 0;
    top:0;
    width: 120px;
    height: 42px;
    line-height: 42px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.layer .item-select .text,
.layer .item-select02 .text{
    background: url(../images/arrow-bottom2.png) right center no-repeat;
    cursor: pointer;
}
.layer .item-select02  .lookLink{
    position: absolute;
    right: 50px;
    top:1px;
}
.layer .item-select02 ul li{
    display: flex;
    justify-content: space-between;
}
#layer-match .form dt{
    float: left;
    width:108px;
}
#layer-match .form dd{
    float: left;
    width:338px;
}
#layer-match .form dd .text{
    width: 100%;
    padding: 0 5.5%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
.layer .item-box ul{
    position: absolute;
    top: 39px;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    z-index: 4;
    max-height: 90px;
    overflow-x: hidden;
    border-bottom: 1px solid #e7e9f1;
    border-top: none;
}
.layer .item-box li{
    padding: 0 20px;
    font-size: 14px;
    line-height: 30px;
    border-left: 1px solid #e7e9f1;
    border-right: 1px solid #e7e9f1;
}
.layer .layer-box .cont{
    line-height: 30px;
    padding: 0 0 10px;
}

.step{
    padding: 6px 0 14px;
}
.step li{
    float: left;
    position: relative;
    width: 33.33%;
    text-align: center;
    line-height: 24px;
}
.step .line{
    position: absolute;
    left: 0;
    bottom:11px;
    background: #cfe0f4;
    width: 100%;
    height: 1px;
    display: inline-block;
}
.step .active .line,
.step .finished .line{
    background: #0171e4;
}
.step li:first-child .line{
    left: 50%;
    width: 50%;
}
.step li:last-child .line{
    width: 50%;
}
.step .number{
    position: relative;
    background: #fff;
    color: #cfe0f4;
    width: 18px;
    line-height: 18px;
    text-align: center;
    display: inline-block;
    border: 1px solid #cfe0f4;
    margin: 2px 0 0;
    border-radius: 50%;
}
.step .active .number,
.step .finished .number{
    background: #0171e4;
}
.step .active p,
.step .finished p{
    color:#0171e4;
}
#layer-bill .layer-tip{
    min-height: 394px;
    margin: 0;
    transform: translate(-50%,-50%);
}
#layer-bill .check-box{
    line-height: 30px;
    padding: 0 0 14px;
}
#layer-bill .loading{
    padding: 70px 0 0;
    text-align: center;
}
#layer-exclude .layer-tip{
    margin: -197px 0 0 -300px;
}
#layer-exclude .company{
    line-height: 30px;
    padding: 0 0 18px;
    margin: 0 -66px 0 0;
}
#layer-exclude .nano{
    height: 150px;
}
#layer-exclude .company p{
    float: left;
    position: relative;
    padding: 0 20px 0 0;
    width: 170px;
    margin: 0 66px 0 0;
}
#layer-exclude .company .delete{
    position: absolute;
    right: 0;
    top:0px;
    background: url(../images/delete.png) 0 center no-repeat;
    width: 10px;
    height: 30px;
    display: inline-block;
}

#layer-examine .layer-tip{
    margin: -206px 0 0 -300px;
    overflow: visible;
}
#layer-examine .nano{
    height: 120px;
}
#layer-examine .nano .table tr:nth-child(odd){
    background: none;
}
#layer-examine .nano .table tr:nth-child(even){
    background: #f6f8fb;
}
#layer-examine .table th,
#layer-examine .table td {
    padding: 2px 4px;
}
#layer-examine .form{
    position: relative;
    margin:30px auto 0;
    padding:0 0 30px;
}
#layer-examine .item-box{
    margin:0 5px 0 0;
    display:inline-block;
    vertical-align: middle;
}
#layer-examine .item-box .text{
    padding:0 40px 0 8px;
    font-size: 12px;
}
#layer-examine .item-box li{
    font-size: 12px;
    padding: 0 8px;
}
#layer-examine .item-one{
    width:90px;
}
#layer-examine .item-one .text{
    width:42px;
}
#layer-examine .item-long{
    width:128px;
}
#layer-examine .item-long .text{
    width:112px;
    padding:0 8px;
}
#layer-examine .item-two{
    width:112px;
}
#layer-examine .item-two .text{
    width:64px;
}
#layer-examine .form .add-button{
    width: 90px;
}
#layer-examine .btn .button{
    line-height:38px;
}

#layer-agreement .layer-tip{
    width: 800px;
    margin: -274px 0 0 -400px;
    padding: 0;
}
#layer-agreement .layer-box{
    line-height: 24px;
    max-width: 100%;
}
#layer-agreement .nano{
    height: 446px;
}
#layer-agreement .nano .speak{
    padding: 0 36px 36px;
}
#layer-agreement .nano h3{
    padding: 0 0 2px;
    font-weight: bold;
}
#layer-agreement .nano p{
    position: relative;
    padding: 0 0 8px 12px;
}
#layer-agreement .nano .away{
    padding: 0 0 8px;
}
#layer-agreement .nano .away2{
    padding: 0 0 8px 38px;
}
#layer-agreement .nano .number{
    position: absolute;
    left: 0;
    top:0;
}
#layer-detail .layer-tip{
    margin: -212px 0 0 -300px
}
#layer-detail .layer-box{
    max-width: 546px;
    text-align: center;
}
#layer-detail .sign .speak{
    width: 100%;
    left: -20px;
    margin: 0;
}

#layer-upgrade .layer-tip{
    margin: -247px 0 0 -300px;
}
#layer-upgrade .form{
    padding: 20px 0 0;
}
#layer-upgrade dt{
    width: 100px;
    float: left;
}

#layer-upgrade dd{
    width: 346px;
    float: left;
}
#layer-upgrade .form .text{
    width: 304px;
}
#layer-upgrade .special{
    line-height: 21px;
}
#layer-upgrade .btn{
    bottom: 40px;
}
#layer-upgrade .button{
    line-height: 46px;
    font-size:16px;
}

#layer-video .video,
#layer-video video{
    width: 800px;
    height: 450px;
    margin: 0 auto;
}
#example_video_1{
    width: 100%!important;
}
#layer-video .layer-tip{
    width: 860px;
    margin: -274px 0 0 -430px;
}
#layer-video h2,
#layer-report h2{
    line-height: 58px;
    margin: 0 0 10px;
}


#layer-report{
    overflow: scroll;
}
#layer-report .cover{
    position: fixed;
}
#layer-report .layer-tip{
    position: relative;
    margin: 30px auto;
    left: 0;
    top:0;
    width: 1180px;
    overflow: visible;
}
#layer-report .pdf img{
    width: 100%;
    max-width: 1172px;
}
#layer-report .report-page{
    background: #f6f7fb;
    padding: 20px;
    text-align: left;
    font-size: 12px;
}
#layer-report .report-page li,
#layer-report .report-page h3{
    font-size: 12px;
}
#layer-report .report-page h2{
    background: none;
    margin: 0;
    text-align: left;
    line-height: 16px;
}
#layer-report .table th,
#layer-report .table td{
    padding: 8px 4px;
}


#layer-result .layer-box{
    line-height: 30px;
    padding: 40px 0 30px;
}
#layer-result dl{
    min-height: 30px;
}
#layer-result dt{
    float: left;
    width:130px;
    text-align: right;
}
#layer-result .form dd{
    float: left;
    width:316px;
}
#layer-result .layer-tip{
    padding: 0;
    margin: -147px 0 0 -300px;
}

#layer-verifying ul{
    max-width: 396px;
    margin: 0 auto;
}
#layer-verifying li{
     float: left;
     margin: 62px 0 0;
     text-align: center;
}
#layer-verifying li.arrow{
    background: url(../images/arrow.png) no-repeat;
    width: 20px;
    height: 14px;
    margin: 85px 43px 0;
    display: block;
}


#layer-file .layer-box{

    padding: 26px 0 50px;
}
#layer-file .form .item-box {
    margin: 0 0 30px;
}
#layer-file .upload .img{
    color:#0171E4;
}
#layer-file dl{
    padding: 20px 0 0;
}
#layer-file .layer-tip{
    min-height: auto;
    margin: -147px 0 0 -300px;
}
#layer-file .btn{
    bottom: 50px;
}
#layer-file .button-blue{
    line-height: 46px;
    font-size: 18px;
}
.form .point{    
    margin: 0 0 20px;
}
.form .point a{
    color: #0171E4;
    vertical-align: middle;
}
.form label{
    padding: 0 0 0 22px;
    position: relative;
    display: inline-block;
    line-height: 16px;
    height: 16px;
    vertical-align: middle;
}
.form label em{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
    border: 1px solid #0171e4;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.form label .active{
    background: url(../images/checked.png) 0 center no-repeat;
}