@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 * Date:2019-07-10
 *
 */

 /*登录*/
 html,body{
    height: 100%;
 }
.login{
    height: 100%;
    min-height: 550px;
}
.login .table tr:nth-child(odd){
    background: none;
}
.login .container{
    height: 100%;
    background: url(../images/bg.jpg) center center no-repeat;
}
.login table{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    text-align: left;
}
.form{
    max-width: 746px;
    margin: 0 auto;
    padding: 30px 0;
}
.form h2{
    font-size: 16px;
    line-height: 40px;
    text-align: center;
}
.login .form{
    background: #fff;
    padding: 0;
    min-height: 482px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -moz-box-shadow: 0 0 10px #cddff5;
    -webkit-box-shadow: 0 0 10px #cddff5;
    box-shadow: 0 0 10px #cddff5;
}
.login .form h1{
    text-align: center;
    padding: 0 0 30px;
}
.login .left{
    position: relative;
    width: 348px;
}
.login .left img{
    width: 348px;
    height: 482px;
    -moz-border-top-left-radius: 5px;
    -webkit-border-top-left-radius: 5px;
    border-top-left-radius: 5px;
    -moz-border-bottom-left-radius: 5px;
    -webkit-border-bottom-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.login .left h2{
    position: absolute;
    left: 0;
    bottom: 76px;
    width: 100%;
    color: #fff;
}
.login .right{
    position: relative;
    width: 298px;
    min-height: 426px;
    padding: 56px 50px 0;
}
.form dl{
    padding: 0 0 20px;
}
.form dd{
    position: relative;
}
.form .text{
    background: none;
    padding:0 4%;
    width: calc(92% - 2px);
    border:1px solid #cfe0f4;
    line-height: 38px;
    height: 38px;
    font-size: 16px;
    color: #d3eafc;
    outline: none;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.form .text:focus{ 
    color: #0171e4;
    border:1px solid #0171e4;
}
.form .text-short{
    padding:0 4%;
    width: 50%;
}
.form .select-btn{    
    background:url(../images/up.png) 96% center no-repeat;
    cursor: pointer;
}
.form .text-select{
    position: relative;
    width: 100%;
}
.form .text-select.active .text{
    border: 1px solid #a0cfff;
}
.form .text-select .item{
    position: absolute;
    top: 39px;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    z-index: 10;
}
.form .text-select .item-box{
    max-height: 346px;
    border: 1px solid #e8e9ef;
    border-bottom: 0;
}
.form .text-select li{
    padding: 0 18px;
    line-height: 42px;
    color:#2f2f2f;
    border-bottom: 1px solid #e8e9ef;
}
.form .text-select li:hover{
    color: #495763;
}
.form dd .button,
.form dd .code{
    position: absolute;
    right: 0;
    top: 0;
    width: 116px;
    height: 40px;
    line-height: 40px;
    font-size: 14px;
}
.form .button-code{
    background: #cfe0f4;
    color: #2f77d6;
}
.form .button-gray{
    background: #cfe0f4;
    color: #8a8a8a;
}
.form dd .error{
    line-height: 30px;
    margin: 0 0 -16px;
}
.login .form dd .error{
    margin: 0 0 -16px;
}
.form .point{    
    margin: -8px 0 20px;
}
.form .point a{
    color: #8a8a8a;
}
.form label{
    padding: 0 0 0 22px;
    position: relative;
    display: inline-block;
    line-height: 16px;
}
.form label em{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
    border: 1px solid #0171e4;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.form label .active{
    background: url(../images/checked.png) 0 center no-repeat;
}
.form .way{
    position: absolute;
    bottom: 30px;
    left: 0;
    width: 100%;
    text-align: center;
}
.form .way a{
    line-height: 36px;
    color: #0171e4;
    font-size: 14px;
}
.form .way .pipe{
    background: #0171e4;
    width: 1px;
    height: 16px;
    margin: 0 10px;
    display: inline-block;
    vertical-align: middle;
}
.secret{
    padding: 46px 0 0;
}
.secret .cont{
    position: absolute;
    left: 0;
    bottom: 30px;
    line-height: 20px;
    text-align: center;
    width: 100%;
}
.secret .cont a{
    display: inline-block;
    color: #0171e4;
    font-size: 14px;
    border-bottom: 1px solid #0171e4;
}
.article{
    background: #fff;
    margin: -50px auto 50px;
    padding: 70px 60px 100px;
    max-width: 1080px;
    min-height: 400px;
}
