@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 * Date:2019-07-10
 *
 */
.row .section{
    padding: 0 0 0 220px;
    min-height: 760px;
}
.article{
    position:relative;
    max-width:1000px;
    margin:0 auto 10px;
}
.location{
	line-height: 40px;
	padding: 6px 0 0;
	max-width: 1000px;
	margin: 0 auto;
}
.content{
	background: #fff;
    padding: 40px 30px 34px;
    margin: 0 0 20px;
}
.content .title h2{
	line-height: 16px;
	padding: 0 0 0 8px;
	margin: 0 0 26px;
	font-size: 16px;
}
.content .title .blue{
	border-left:4px solid #0171e4;
	color: #0171e4;
}
.content .title .yellow{
	border-left:4px solid #efcf6f;
}
.content .title .pink{
	border-left:4px solid #f87988;
}
.content .title .purple{
	border-left:4px solid #bc85f9;
}

/*首页*/
.index .content01 ul{
	margin: 0 -100px 0 0;
}
.index .content01 li{
	float: left;
	width: 100px;
	margin: 0 100px 0 0;
	line-height: 30px;
	font-size: 16px;
	text-align: center;
}
.index .content01 li p{
	margin: 0 -20px;
}
.index .content01 .color{
	width: 100px;
	height: 46px;
	border-radius: 5px;
	padding: 26px 0;
	margin: 0 0 10px;
}
.index .content01 .color01{
	background: #3990ea;
	box-shadow: 0 0 15px #d6e8fa;
}
.index .content01 .color02{
	background: #68dac3;
	box-shadow: 0 0 15px #dff5f0;
}
.index .content01 .color03{
	background: #efcf6f;
	box-shadow: 0 0 15px #fcf6e3;
}
.index .content01 .color04{
	background: #f87988;
	box-shadow: 0 0 15px #fce8ea;
}
.index .content01 .color05{
	background: #bc85f9;
	box-shadow: 0 0 15px #f0e6fc;
}
.index .table td{
	padding: 15px 24px;
	text-align: left;
}
.index .table img{
	vertical-align: middle;
	margin: 0 6px 0 0;
}
.index .table .away{
	padding: 0 12px 0 24px;
}
.index .table .big{
	font-size: 16px;
}
.index .total{
	padding: 14px 0 0 30px;
	line-height: 30px;
}
.index .block .content{
	width: 43%;
	line-height: 30px;
	font-size: 16px;
	min-height: 216px;
}
.index .block .speak p{
	text-indent: 2em;
}
.index .block .speak .come{
	text-align: right;
	padding: 24px 0 0;
}
.index .block .c_right .speak{
	text-align: center;
}
.index .block h3{
	line-height: 40px;
	padding: 0 0 12px;
	font-size: 20px;
}