@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 *
 */
.layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}
.layer .close{
    background: url(../images/layer-close.png) center center no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 3;
}
.layer .come-back{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 28px;
    height: 28px;
    display: inline-block;
    background: url(../images/back.png) no-repeat;;
}
.layer h2{
    line-height: 62px;
    margin: 0 0 26px;
    background: #f6f8fb;
    font-size: 20px;
    text-align: center;
    -moz-border-top-left-radius: 2px;
    -webkit-border-top-left-radius: 2px;
    border-top-left-radius: 2px;
    -moz-border-top-right-radius: 2px;
    -webkit-border-top-right-radius: 2px;
    border-top-right-radius: 2px;
}
.layer .layer-box{
    max-width: 530px;
    margin: 0 auto;
}
.layer .btn{
    text-align: center;
    line-height: 40px;
}
.layer .button{
    line-height: 40px;
    min-width: 128px;
    padding: 0 20px;
    font-size: 16px;
}
.layer .btn .button-away{
   margin-right: 8%;
}

.layer-tip{
    background: #fff;
    font-size: 16px;
    line-height: 30px;
    padding:0 0 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    min-height: 236px;
    width: 720px;
    margin: -133px 0 0 -360px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}

 /*提示浮层小*/
 .layer-small{
    padding: 30px 30px;
    width: 360px;
    min-height: 100px;
    margin: -110px 0 0 -210px;
}

/*loading加载*/
.layer-loading .layer-tip{
    padding: 10px 30px;
    width: 160px;
    margin: -74px 0 0 -110px;
}
.layer-loading img{
    width: 100%;
}
/*单行提示浮层*/
.layer-floating{
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: -40px 0 0 -132px;
    width: 244px;
    line-height: 30px;
    padding: 25px 10px;
    z-index: 99;
    display: none; 
}
.layer-floating .cover{
    opacity: 0.57;
    filter: alpha(opacity=57);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.layer-floating p{
    position: relative;
    font-size: 16px;
}
#layer-remove .layer-tip{
    margin: -215px 0 0 -360px;
}
#layer-remove .layer-box{
    text-align: left;
}
#layer-remove .layer-box h3{
    line-height: 30px;
    font-size: 16px;
    margin: 0 0 -8px;
}
#layer-remove .layer-box p{
    line-height: 24px;
    font-size: 14px;
    padding: 20px 0 0;
}
#layer-remove .layer-box .text{
    border: 1px solid #cfe0f4;
    width: 290px;
    line-height: 24px;
    height: 24px;
    padding: 0 10px;
    margin: 0 0 0 3px;
    display: inline-block;
    vertical-align: bottom;
}