@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 * Date:2017-08-19
 *
 */

.header{
    margin: 0;
}
 /*现金管理资产-列表页*/
.product-page .banner-section{
    background: url(../images/product/banner.jpg) center top no-repeat;
}
.product-page .screen{
    padding: 52px 0 34px;
    position: relative;
}
.product-page .screen p{
    position: relative;
    padding: 0 0 0 86px;
    margin: 0 0 20px;
    line-height: 26px;
}
.product-page .screen .name{
    font-size: 16px;
    position: absolute;
    left: 0;
    top: 0;
}
.product-page .screen p a{
    min-width: 56px;
    padding: 0 4px;
    text-align: center;
    font-size: 14px;
    display: inline-block;
    margin: 0 56px 0 0;
}
.product-page .screen p a:hover,
.product-page .screen p .active{
    background: #0081e4;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.product-page .screen .button{
    position: absolute;
    right: 0;
    bottom:18px;
    line-height: 30px;
    width: 100%;
    max-width: 100px;
    font-size: 14px;
}
.product-page .section02 .article{
    padding: 0 0 64px;
    min-height: 600px;
}
.product-page .section02 .caption{
    margin: 50px 0 26px;
    font-size: 14px; 
    line-height: 24px; 
}
.product-page .section02 .caption h2{
    font-size: 18px;
}
.product-page .section02 .box{
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    border: 1px solid #dde7f0;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    position: relative;
    margin:0 0 20px;
}
.product-page .section02 .box:hover{
    -webkit-box-shadow: 0px 1px 18px #e5e5e5;
    -moz-box-shadow: 0px 1px 18px #e5e5e5;
    box-shadow: 0px 1px 18px #e5e5e5;    
}
.product-page .section02 .box.last{
    margin: 0;
}
.product-page .section02 .box h2{
    font-size: 18px;
    line-height: 30px;
    padding: 0 0 12px;
    vertical-align: middle;
}
.product-page .section02 .box .a-block{
    padding: 30px 50px 36px;
}
.product-page .section02 .box h2 a:hover{
    color: #0081e4;
}
.product-page .section02 .box h2 .tag{
    line-height: 22px;
    vertical-align: middle;
    padding: 0 6px;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 0 0 0 6px;
    background:#0081e4;
}
.product-page .section02 .box h2 .tag-red{
    background:#f15755;
}
.product-page .section02 .box .idea{
    width: 85.4%;
}
.product-page .section02 .box .item{
    position: absolute;
    right: 3.3%;
    top: 64px;
    width: 14.2%;
    text-align: right;
}
.product-page .section02 .box .item-select{
    display: none;    
}
.product-page .section02 .box .speak{
    position: absolute;
    bottom: 58px;
    right: 0px;
    width: 204px;
    color: #0081e4;
    background: #fff;
    border: 1px solid #dde7f0;
    padding: 8px 10px;
    line-height: 16px;
    text-align: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: none;
}
.product-page .section02 .box .speak .arrow{
    position: absolute;
    right: 22px;
    bottom: -11px;
    background: url(../images/arrow02.jpg) no-repeat;
    width: 12px;
    height: 11px;
    display: inline-block;
}
.product-page .section02 .booked:hover .speak{
    display: block;
}
.product-page .section02 .box .button{
    line-height: 46px;
    width: 100%;
    max-width: 140px;
    padding: 0 10px;
    font-size: 16px;
}
.product-page .section02 .box .button-select{
    line-height: 44px;
    max-width: 138px;
    border: 1px solid #0081e4;
    color: #0081e4;
}
.product-page .section02 .box .button-selected{
    background: #0081e4;
    color: #fff;
}
.product-page .section02 .box .button-gray{
    cursor: text;
}
.product-page .section02 .box .item p{
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    margin: -50px 0 0;
}
.product-page .section02 .box .times{
    text-align: center;
    padding: 0 0 8px;
    font-size: 14px;
}
.product-page .section02 dl{
    float: left;
    text-align: center;
    width: 28%;
    line-height: 20px;
}
.product-page .section02 .first{
    width: 18%;
    text-align: left;
}
.product-page .section02 .short{
    width: 22%;
}
.product-page .section02 .line{
    width: 1px;
    height: 40px;
    margin: 12px 0 0;
    background: #DEE6F1;
}
.product-page .section02 dt{
    font-size: 20px;
    line-height: 38px;
}
.product-page .section02 dt .small{
    font-size: 14px;
    line-height: 20px;
}
.product-page .section02 dd{
    font-size: 14px;
    color:#b6b6b6;
}
.product-page .section02 .explain{
    padding: 46px 0 0;
}
.product-page .section02 .explain .img{
    float: left;
    width: 7.16%;
}
.product-page .section02 .explain .item{
    float: left;
    width: 92.84%;
    line-height: 24px;
    font-size: 14px;
}
.product-page .section02 .explain h2{
    font-size: 18px;
    line-height: 20px;
    padding: 0 0 10px;
}
.product-page .section02 .total.fixed{
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 10;
}
.product-page .section02 .total{
    display: none;
}
.product-page .section02 .total-box{
    background: #eef3f6;
    max-width: 1200px;
    margin: 0 auto;
    line-height: 46px;
    font-size: 16px;
}
.product-page .section02 .total-box .name{
    padding: 0 0 0 50px;
}
.product-page .section02 .total-box .money p{
    display: inline-block;
    *display: inline;
    _display: inline;
    padding: 0 70px 0 0;
    vertical-align: middle;
}
.product-page .section02 .total-box .button-blue{
    float: right;
    line-height: 46px;
    padding: 0 35px;
    font-size: 18px;
}
.product-page .section02 .more{
    text-align: center;
    padding: 40px 0 20px;
    font-size: 16px;
}
/*定制产品*/
.product-page .other-product{
    padding: 60px 0 0;
}
.product-page .other-product li{
    background: #fff;
    width: 46.5%;
    float: left;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
    border: 1px solid #dde7f0;
}
.product-page .other-product li:hover{
    -webkit-box-shadow: 0px 1px 18px #e5e5e5;
    -moz-box-shadow: 0px 1px 18px #e5e5e5;
    box-shadow: 0px 1px 18px #e5e5e5;    
}
.product-page .other-product li.last{
    float: right;
}
.product-page .other-product .a-block{
    padding: 60px 8.27%;
}
.product-page .other-product h2{
    line-height: 50px;
    font-size: 18px;
    padding: 0 0 12px;
}
.product-page .other-product img{
    float: left;
    margin: 0 7.88% 0 0;
}
.product-page .other-product .item{
    padding: 0 12px 0 0;
    background: url(../images/enter.png) right center no-repeat;
}
.product-page .other-product li:hover .item{
    background: url(../images/enter-hover.png) right center no-repeat;
}
.product-page .other-product p{
    font-size: 14px;
    line-height: 24px;
    margin: 0 0 12px;
}
/*产品详情页*/
.location{
    line-height: 30px;
    padding: 22px 0 14px;
    font-size: 16px;
}
.location .sign{
    font-family: '宋体';
}
.product-details .article{
    padding: 0 0 60px;
    overflow: visible;
}
.product-details .product-idea{
    border:1px solid #e6eaf2;
    margin: 0 0 30px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    -webkit-box-shadow: 0px 1px 12px #e5e5e5;
    -moz-box-shadow: 0px 1px 12px #e5e5e5;
    box-shadow: 0px 1px 12px #e5e5e5;
}
.product-details .product-idea .title{
    width: 100%; 
}
.product-details .fund-box{
    position: relative;
    padding: 30px 4.17%;
    font-size: 14px;
    line-height: 24px;
}
.product-details .fund-left{
    width:55%;
    float: left;
}
.product-details .fund-left dl{
    width: 47%;
    float: left;
    text-align: center;
}
.product-details .fund-left .first{
    text-align: left;
    width: 32%;
}
.product-details .fund-left dt{
    padding: 10px 0 0;
    line-height: 36px;
    font-size: 20px;
}
.product-details .fund-left dt span{
    font-size: 14px;
    vertical-align: middle;
    line-height: 20px;
}
.product-details .fund-left .line{
    float: left;
    margin: 24px 0 0;
    height: 42px;
    width: 1px;
    background: #dde7f0;
}
.product-details .fund-left .btn{
    float: left;
    width: 100%;
    padding: 60px 0 20px;
}
.product-details .fund-left .button{
    width: 100%;
    font-size: 18px;
    line-height: 46px;
    max-width: 160px;
}
.product-details .fund-right{
    width:44.6%;
    float: right;
    position: relative;
    text-align: center;
    padding: 5px 0 0;
}
.product-details .fund-right .times{
    padding: 0 0 8px;
}
.product-details .fund-right .speak{
    position: absolute;
    bottom: 58px;
    right: 0px;
    width: 204px;
    color: #0081e4;
    background: #fff;
    border: 1px solid #dde7f0;
    padding: 8px 10px;
    font-size: 12px;
    line-height: 16px;
    text-align: left;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: none;
}
.product-details .fund-right .speak .arrow{
    position: absolute;
    right: 22px;
    bottom: -11px;
    background: url(../images/arrow02.jpg) no-repeat;
    width: 12px;
    height: 11px;
    display: inline-block;
}
.product-details .fund-right.booked:hover .speak{
    display: block;
}
.product-details .switch-nav{
    text-align: left;
    margin: 0 auto 20px;
}
.product-details .switch-nav a{
    background: #D3EAFC;
    color: #0081e4;
    display: inline-block;
    min-width: 50px;
    text-align: left;
    line-height: 22px;
    font-size: 12px;
    margin: 0 10px 0 0;
    padding: 0 10px;
}
.product-details .switch-nav a:hover,
.product-details .switch-nav .active{
    background: #0081e4;
    color: #fff;
}
.product-details .switch-cont{
    display: none;
}

.product-details .relate{
    background: #f7f7f7;
    padding: 7px 4.17%;
    line-height: 30px;
    font-size: 14px;
    color:#b6b6b6;
}
.product-details .relate .left{
    float: left;
    width: 52.8%;
}
.product-details .relate p{
    float: left;
    width: 32%;
}
.product-details .relate img{
    margin: 0 8px 0 0;
}
.product-details .relate .right{
    float: right;
    width: 47.2%;
    text-align: right;
}
.product-details .relate .away{
    padding: 0 18px;
}
.product-details .section h2{
    padding: 40px 0 22px;
    line-height: 36px;
    font-size: 18px;
}
.product-details .section01 h2{
    padding: 0;
    line-height: 30px;
}
.product-details .section .box h2{
    padding: 0 0 0 10px;
    border-left: 4px solid #0081e4;
    line-height: 18px;
}
.product-details .section .box p{
    padding: 8px 0 0 14px;
}
.product-details h2 .tag{
    line-height: 22px;
    vertical-align: middle;
    padding: 0 6px;
    display: inline-block;
    font-size: 12px;
    color: #fff;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    margin: 0 0 0 10px;
    background:#0081e4;
}
.product-details h2 .tag-red{
    background:#f15756;
    margin: 0 0 0 3px;
}
.product-details .box table{
    border-top: 1px solid #dde7f0;
    border-left: 1px solid #dde7f0;
}
.product-details .box th{
    padding: 10px 0;
    line-height: 28px;
    font-size:16px;
    font-weight: normal;
    border-bottom: 1px solid #dde7f0;
    border-right: 1px solid #dde7f0;
}
.product-details .box td{
    padding: 14px 0;
    line-height: 20px;
    font-size: 14px;
    color: #555;
    text-align: center;
    border-bottom: 1px solid #dde7f0;
    border-right: 1px solid #dde7f0;
}
.product-details td.black{
    color: #495763;
    font-size: 16px;
}
.product-details td.left{
    padding: 10px 44px;
    line-height: 30px;
    text-align: left;
}
.product-details .section01 .box{
    line-height: 30px;
    font-size: 14px;
    padding: 30px 28px 20px;
    margin: 0 0 14px;
    -webkit-box-shadow: 0px 1px 12px #e5e5e5;
    -moz-box-shadow: 0px 1px 12px #e5e5e5;
    box-shadow: 0px 1px 12px #e5e5e5;
    *border: 1px solid #e5e5e5;
    _border: 1px solid #e5e5e5;
}
.product-details .section01 .table{
    padding: 20px 0 0;
}
/*企明星货币基金*/
.product-details .money-fund .chart{
    float: left;
    width: 498px;
    margin: 0 9% 0 0;
}
.product-details .money-fund .fund-left{
    width: 31%;
}
.product-details .money-fund dl{
    text-align: left;
    width: 100%;
    padding: 12px 0;
}
.product-details .money-fund dt{
    line-height: 24px;
    padding: 0;
}
.product-details .money-fund .fund-right{
    padding: 60px 0 0;
}
/*企明星定制理财*/
.customize-page .idea-banner{
    background: #eef3f6;
    padding: 58px 0 50px 156px;
}
.customize-page .idea-banner .left{
    width: 320px;
    text-align: center;
}
.customize-page .idea-banner h2{
    padding: 0 0 20px;
    line-height: 34px;
    font-size: 30px;
}
.customize-page .idea-banner .item{
    width: 470px;
    padding: 0 0 0 60px;
    font-size: 14px;
    line-height: 24px;
}
.customize-page .idea-banner h2{
    line-height: 26px;
    font-size: 24px;
    padding: 0 0 14px;
}
.customize-page .idea-banner .tel{
    background: url(../images/product/tel.png) 0 center no-repeat;
    margin: 36px 0 0;
    padding: 0 0 0 50px;
}
.customize-page .idea-banner .tel strong{
    font-size: 18px;
}
.customize-page .box ul{
    margin: 0 -45px 0 0;
}
.customize-page .box li{
    float: left;
    width: 308px;
    padding: 30px;
    line-height: 24px;
    font-size: 14px;
    border: 1px solid #dde7f0;
    min-height: 260px;
    margin: 0 45px 0 0;
}
.customize-page .box h3{
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 0 0 8px;
}
.customize-page .box p{
    padding: 12px 0 0;
}
/*企明星美元定制*/
.dollar-page .idea-banner{
    background: #eef3f6;
    padding: 46px 0 21px 174px;
}
.dollar-page .idea-banner .left{
    width: 320px;
    text-align: center;
}
.dollar-page .idea-banner h2{
    padding: 0 0 20px;
    line-height: 34px;
    font-size: 30px;
}
.dollar-page .idea-banner ul{
    width: 420px;
    padding: 0 0 0 60px;
}
.dollar-page .idea-banner li{
    position: relative;
    padding: 0 0 22px 54px;
    line-height: 24px;
    font-size: 14px;
}
.dollar-page .idea-banner h3{
    font-size: 16px;
    line-height: 22px;
    font-weight: bold;
}
.dollar-page .idea-banner li img{
    position: absolute;
    top: 2px;
    left: 0;
    width: 40px;
}
.dollar-page .box li{
    width: 48.72%;
    text-align: center;
    padding: 36px 0 30px;
    line-height: 24px;
    font-size: 14px;
}
.dollar-page .box img{
    margin: 0 0 26px;
}