@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 * Date:2017-08-19
 *
 */
html, body, div, span, h1, h2, h3, h4, h5, h6, p, abbr, address, cite, code, del, dfn, em, img, sub, sup, var, i, dl, dd, dt, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, hgroup, menu, nav, section, time, mark, audio, video{margin:0;padding:0; zoom:1;}
article, aside, figure, footer, header, hgroup, nav, menu, section {display: block;}
h1,h2,h3,h4,h5,h6{font-size:100%; font-weight: normal;}
input, select {
	vertical-align: middle;
	/*font-family:'Arial','Microsoft YaHei';*/
    font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    -webkit-appearance : none ;
}
textarea{
	resize:none;
    font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
}
a,button{
	border: none;
    font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    outline: none;
	cursor: pointer;
	text-decoration:none;
}
a:hover{text-decoration:none;}
img{vertical-align:top; outline: none; border: none;}
ul,li{ list-style:none;}

a{
	text-decoration:none;
	color: #495763;	
	outline: none;
	border: none;
}
.a-block{
	display: block;
}

body,html {
	font-size: 12px;
	font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    position: relative;
	width: 100%;
	color: #495763;
    word-break: break-all;
}
.container {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 1200px;
	_width: expression((document.documentElement.clientWidth||document.body.clientWidth)<1200?"1200px":"");
	overflow-x: hidden;
	overflow-y: hidden;
	background: #fff;
}
.article{
    position:relative;
    max-width: 1200px;
    margin:0 auto;
    overflow: hidden;
}

/*层级*/
.z-index{z-index: 9;}
/*左浮动和右浮动
 --------------*/
.float_l {
	float: left;
}
.float_r {
	float: right;
}
.float_r, .float_l {
	_display: inline;
}
/*清除浮动
 --------------*/
.clearfix {
  zoom: 1;
  _height: 1px
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}
/*清楚文字内容
 --------------*/
.txtIndent {
	text-indent: -9999em;
}
/*用于seo不显示的内容
 --------------*/
.seo {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
}
.seo, .hideImg {
	width: 0;
	height: 0;
	overflow: hidden;
	position: absolute;
	visibility: hidden;
	top: 0;
	left: 0;
}
.hideImg {
	overflow: hidden;
}
.hideImg img {
	width: 0;
	height: 0;
	overflow: hidden;
}
/*颜色*/
.blue{
	color: #0081e4;
}
a.blue:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.red{
	color: #f75a5e;
}
.yellow{
	color: #e59b19;
}
.gray{
    color:#999;
}
a.gray:hover{
    color: #0081e4;
}
.green{
	color: #93ce67;
}
.black{
	color: #495763;	
}
/*灰遮罩*/
.cover{
	position: absolute;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: 100%;
	background: #0099e8; 
    opacity: 0.8;
    filter: alpha(opacity=80);
    overflow: hidden;
}