@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 *
 */

.login input::-webkit-input-placeholder{
    color: #ccc;
}
.login input::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: #ccc;
}
.login input:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: #ccc;
}
.login input:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color: #ccc;
}

/*左浮动和右浮动
 --------------*/
.float_l {
    float: left;
}
.float_r {
    float: right;
}
.float_r, .float_l {
    _display: inline;
}
/*清除浮动
 --------------*/
.clearfix {
  zoom: 1;
  _height: 1px
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden
}

/*层级*/
.z-index{z-index: 9;}


/*清楚文字内容
 --------------*/
.txtIndent {
    text-indent: -9999em;
}
/*用于seo不显示的内容
 --------------*/
.seo {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}
.seo, .hideImg {
    width: 0;
    height: 0;
    overflow: hidden;
    position: absolute;
    visibility: hidden;
    top: 0;
    left: 0;
}
.hideImg {
    overflow: hidden;
}
.hideImg img {
    width: 0;
    height: 0;
    overflow: hidden;
}
/*颜色*/
.blue{
    color: #2A68FF;
}
a.blue:hover{
    opacity: 0.8;
    filter: alpha(opacity=80);
}
.red{
    color: #ec5a5a;
}
.orange{
    color: #FF6500;
}
.pink{
    color: #f87988;
}
.purple{
    color: #bc85f9;
}
.gray{
    color:#A1A2AC;
}
a.gray:hover{
    color: #0081e4;
}
.green{
    color: #93ce67;
}
.black{
    color: #495763; 
}
/*灰遮罩*/
.cover{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #0099e8; 
    opacity: 0.8;
    filter: alpha(opacity=80);
    overflow: hidden;
}
/* 公用按钮 */
.button{    
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    border: 0;
    font-family: PingFangSC-Light, 'helvetica neue', 'hiragino sans gb', arial, 'microsoft yahei ui', 'microsoft yahei', simsun, sans-serif;
    border: none;
    vertical-align: middle;
    text-align: center;
    outline: none;
    line-height: 38px;
    font-size: 16px;
}
.button-blue{
    background: #2A68FF;
    color: #fff;
    width: 100%;
}
.button-blue:hover{
    background: #1c66c8;
}
.button-blue-line{
    border:1px solid #2A68FF;
    color: #2A68FF;
}
.button-blue-line:hover{
    background: #2A68FF;
    color: #fff;
}
.button-gray{
    background: #B1B1B1;
    color: #fff;
    width: 100%;
}
/*灰遮罩*/
.unbind,
.cover{
    position: absolute;
    left: 0;
    top: 0;
    display: block;
    width: 100%;
    height: 100%;
    background: #000; 
    opacity: 0.5;
    filter: alpha(opacity=50);
    overflow: hidden;
}

/*带焦点icon轮播*/
.flexslider{
    position: relative;
}
.flexslider .flex-viewport{
    width: 100%;
    overflow: hidden;
}
.flexslider .slides li{
    position: relative;
    overflow: hidden;
}
.flex-control-nav{
    position: absolute;
    bottom: 53px;
    left: 0;
    text-align: center;
    width: 100%;
    z-index: 5;
    font-size: 0;
}
.flex-control-nav li{
    display: inline-block;
    *display: inline;
    _display: inline;
    margin: 0 5px;
}
.flex-control-nav a{
    background: #ececec;
    height: 8px;
    width: 8px;
    display: inline-block;
    color: #fff;
    font-size: 0;
}
.flex-control-nav .flex-active{
   background: #0081e4;
   color: #0081e4;
}

/*头部*/
.header{
    position: relative;
    z-index: 14;
    width: 100%;
    background: #2A68FF;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    line-height: 0;
}
.header .head-box{
    position: relative;
    max-width: 1360px;
    padding: 0 60px;
    margin: 0 auto;
    color: #fff;
}
.header .head{
    max-width: 1100px;
    margin: 0 auto;
    font-size: 0;
    position: relative;
}
.header .logo{
    background: url(../images/logo.png) 0 center no-repeat;
    position: relative;
    display: inline-block;
    margin: 12px 40px 12px 0;
    width: 0;
    height: 0;
    padding: 36px 0 0 130px;
    background-size: auto 100%;
    overflow: hidden;
}
.header .nav{
    float: left;
    width: auto;
    padding: 10px 0 0 7.35%;
}
.header .nav li{
    margin: 0 1px;
    position: relative;
    display: inline-block;
    *display: inline;
    _display: inline;
}
.header .nav a{
    color: #fff;
    font-size: 16px;
}
.header .nav .name{
    position: relative;
    height: 42px;
    line-height: 42px;
    margin: 0 36px;
    font-size: 15px;
    display: block;
    text-align: center;
    z-index: 5;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    border-bottom: 1px solid transparent;
}
.header .nav .current,
.header .nav .active,
.header .nav .name:hover{
    border-bottom: 1px solid #fff;
}
.header .nav .name span{
    background: url(../images/arrow-bottom.png) right center no-repeat;
    padding: 0 13px 0 0;    
    display: inline-block;
}
.header .nav .subnav{
    background: #0265d5;
    position: absolute;
    top: 52px;
    left: 0;
    width: 100%;
    line-height: 30px;
    text-align: center;
    padding: 0 0 8px;
    display: none;
}
.header .nav .subnav a{
    display: block;
    background: #0265d5;
    font-size: 14px;
}
.header .nav .subnav a:hover{    
    background: #2A68FF;;
}
.header .item{
    width: 250px;
    text-align: right;
    right: 0;
    top: 16px;
    font-size: 0;
    position: relative;
}
.header .consult{
    background: url(../images/icon08.png) 0 center no-repeat;
    line-height: 30px;
    color: #f8f8f8;
    font-size: 14px;
    vertical-align: middle;
    display: inline-block;
    padding: 0 0 0 22px;
    margin: 0 3.6% 0 0;
    display: none;
}

.header .user-name{
    position: relative;
    width: 80px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    _display: inline;
    font-size: 14px;
    line-height: 30px;
    color: #f8f8f8;
    margin: 0 50px 0 0;
}
.header .user{
    position: relative;
    width: 110px;
    vertical-align: middle;
    display: inline-block;
    *display: inline;
    _display: inline;
    font-size: 14px;
}
.header .user.active{
    /* background: #0265d5; */
}
.header .user-idea{
    /* width: 114px; */
    display: block;
    margin: 0 auto;
}
.header .user img{
    position: absolute;
    top: 0px;
    left: 0;
    width: 49px;
    height: 49px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 1px solid #cfe0f5;
    display: none;
}
.header .user p{
    background: url(../images/arrow-bottom.png) 96% center no-repeat;   
    line-height: 30px;
    color: #f8f8f8;
    padding: 0 12px 0 0;
    white-space: nowrap;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    overflow: hidden;
    display: block;
    position: relative;
    margin: 0;
    text-align:center;
}
.header .user.active p{
    background: url(../images/arrow-top.png) 96% center no-repeat;
}
.header .user ul{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    display: none;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 0px rgba(183, 202, 222, 0.64);
    padding: 8px 0;
}
.header .user li{    
    position: relative;
}
.header .user li a{
    line-height: 26px;
    color: #4C5060;
    display: block;
    text-align: left;
    padding: 0 14px 0 36px;
    font-size: 14px;
}
.header .user li a:hover{
    background: #2A68FF;
    color: #fff;
}
.header .user li span{
    display: inline-block;
    position: absolute;
    top: 7px;
    left: 14px;
    width: 18px;
    height: 22px;
    /* opacity: 0.5;
    filter: alpha(opacity=50); */
}
.header .user .icon01{
    background: url(../images/icon09.png) no-repeat;   
}
.header .user .icon02{
    background:url(../images/icon10.png) no-repeat;
}
.header .user .icon03{
    background:url(../images/icon11.png) no-repeat;
}
.header .user .icon04{
    background:url(../images/icon12.png) no-repeat;
}
.header .user a:hover .icon01{
    background: url(../images/icon09-hover.png) no-repeat;   
}
.header .user a:hover .icon02{
    background:url(../images/icon10-hover.png) no-repeat;
}
.header .user a:hover .icon03{
    background:url(../images/icon11-hover.png) no-repeat;
}
.header .user a:hover .icon04{
    background:url(../images/icon12-hover.png) no-repeat;
}
.header .user li a:hover span{
    opacity: 1;
    filter: alpha(opacity=100);
}
.header .item .login-btn,
.header .item .register-btn{
    color: #ececec;
    font-size: 12px;
    line-height: 30px;
    display: inline-block;
}
.header .item .register-btn{
    margin: 0 20px 0 0;
}
.header02{
    background: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0;
    -webkit-box-shadow: 0 0 0;
    -moz-box-shadow: 0 0 0;
    box-shadow: 0 0 0;
}
.header-white{
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    box-shadow: 0px 2px 20px 0px rgba(215, 234, 254, 0.5);
}
.header02 .head-box{
    position: relative;
    padding: 32px 60px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
}
.header02 .nav .name{
    font-weight: bold;
}
.header-white .head-box{
    padding: 0 20px;
}
.header02 .logo{
    background: url(../images/logo2.png) 0 center no-repeat;
    padding: 52px 0 0 188px;
    margin: 5px 76px 0 0;
}
.header-white .logo{
    background: url(../images/logo-black.png) 0 center no-repeat;
    background-size: auto 100%;
    margin: 10px 119px 10px 0;
    padding: 40px 0 0 145px;
}
.header-white .nav a {
    color: #4C505F;
    font-size: 16px;
}
.header-white .nav .current,
.header-white .nav .active,
.header-white .nav .name:hover{
    color: #2A68FF;
    border-bottom: 1px solid #2A68FF;
}
.header-white .user-name,
.header-white .user p,
.header-white .item .login-btn,
.header-white .item .register-btn{
    color:#4C505F;
}
.header-white .user p{
    background: url(../images/arrow-bottom-gray.png) 96% center no-repeat;
    color:#4C505F;
}
.header-white .user.active p{
    background: url(../images/arrow-top-gray.png) 96% center no-repeat;
}
.header02 .nav .name .new{
    background: url(../images/new.png) no-repeat;
    padding: 24px 0 0 34px;
    font-size: 0;
    color: #fff;
    width: 0;
    height: 0;
    display: inline-block;
    vertical-align: middle;
    overflow: hidden;
    margin: 0 0 0 4px;
    white-space: nowrap;
}

.header .qrCode{
    position: absolute;
    right: 24px;
    top: 16px;
    width: 50px;
    text-align: right;
}
.header .qrCode .ihponeIcon{
    background: url(../images/iphone.png) no-repeat;
    width: 14px;
    height: 24px;
    display: inline-block;
}
.header .qrCode ul{
    position: absolute;
    top: 36px;
    right: -34px;
    width: 250px;
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #2A68FF;
    display: flex;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    opacity: 0; 
    filter: alpha(opacity=0);
    transform: scale(0);
    transform-origin:30px 0 0px 0px;
}
.header .qrCode:hover ul{
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}
.header .qrCode ul::after{
    content: '';
    position: absolute;
    right: 34px;
    top: -7px;
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 5px 7px;
    margin: 0 0 0 -4px;
}
.header .qrCode li{
    position: relative;
    width: 50%;
    padding: 14px 0 11px;
    line-height: 1;
    color: #676767;
    font-size: 12px;
}
.header .qrCode li:first-child::after{
    position: absolute;
    right: 0;
    top: 26px;
    content: '';
    width: 1px;
    height: 70px;
    background: rgba(0, 0,0, 0.3);
    display: block;
}
.header .qrCode img{
    width: 97px;
    margin: 0 0 5px;
}
/* 二级导航 */
.subheader {
    position: relative;
    width: 100%;
    line-height: 54px;
    height: 54px;
    background: #FFFFFF;
    box-shadow: 0px 2px 6px 0px rgba(183, 202, 222, 0.64);
    z-index: 11;
}
.subheader-fixed{
    position: fixed;
    top: 0;
    left: 0;
}
.subheader-fixed + section{
    margin-top: 54px!important;
}
.subheader .suheader-box{
    max-width: 1360px;
    padding: 0 60px;
    margin: 0 auto;
}
.subheader .submenu-left a{
    margin: 0 30px;
    display: inline-block;
    line-height: 52px;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
.subheader .submenu-left a.active,
.subheader .submenu-left a:hover{
    color: #2A68FF;
    border-bottom: 1px solid #2A68FF;
}
.subheader .submenu-right{
    margin: 11px 0 0;
    line-height: 30px;
    text-align: right;
}
.subheader .submenu-right .item-select,
.subheader .submenu-right .search{
    position: relative;
    display: inline-block;
    *display: inline;
    _display: inline;
    text-align: left;
}
.subheader .submenu-right .item-select{
    margin: 0 14px 0 0;
}
.subheader .item-select .text{
    background: url(../images/arrow-bottom2.png) right center no-repeat;
    cursor: pointer;
    border: 1px solid #DCDDE3;
    line-height: 30px;
    height: 30px;
    padding: 0 10px;
    width: 88px;
    font-size: 12px;
    outline: none;
}
.subheader .item-select ul{
    position: absolute;
    top: 30px;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    z-index: 4;
    max-height: 90px;
    overflow-x: hidden;
    border-bottom: 1px solid #e7e9f1;
    border-top: none;
}
.subheader .item-select li{
    padding: 0 20px;
    font-size: 14px;
    line-height: 30px;
    border-left: 1px solid #e7e9f1;
    border-right: 1px solid #e7e9f1;
}
.subheader .search{
    position: relative;
    padding: 0 20px 0 10px;
    width: 208px;
    line-height: 30px;
    border: 1px solid #DCDDE3;
}
.subheader .search-btn{
    background: url(../images/search2.png) center center no-repeat;
    position: absolute;
    top: 0;
    right: 0px;
    width: 30px;
    height: 30px;
    display: inline-block;
}
.subheader .input-text{
    width: 100%;
    background: none;
    line-height: 26px;
    height: 26px;
    border: 0;
    padding: 0;
    font-size: 14px;
    vertical-align: middle;
    outline: none;
}
.subheader .input-text::-webkit-input-placeholder{
    color: #A1A2AC;
}
.subheader .input-text::-moz-placeholder{   /* Mozilla Firefox 19+ */
    color: #A1A2AC;
}
.subheader .input-text:-moz-placeholder{    /* Mozilla Firefox 4 to 18 */
    color: #A1A2AC;
}
.subheader .input-text:-ms-input-placeholder{  /* Internet Explorer 10-11 */ 
    color: #A1A2AC;
}

.footer{
    background: #2A68FF;
    padding: 34px 10px;
    line-height: 12px;
    text-align: center;
    color: #c7e3fe;
}
.footer a{
    border-right: 1px solid #c7e3fe;
    color: #c7e3fe;
    padding: 0 2.3% 0 0;
    margin: 0 2.3% 0 0;
    font-size: 14px;
}

/*分页*/
.pagination{
    padding: 30px 0;
    text-align: center;
    font-size: 0;
}
.pagination a,
.pagination span{
    padding: 0 9px;
    margin: 0 2px;
    display: inline-block;
    line-height: 24px;
    vertical-align: middle;
    font-size: 14px;
    border:1px solid #2A68FF;
    color: #2A68FF;
    border-radius: 3px;
}
.pagination span{
    border: 0;
    padding: 0;
}
.pagination a:hover,
.pagination .active{
    background: #2A68FF;
    color: #fff;
}
.pagination .prev,
.pagination .next{
    background: #2A68FF;
    color: #fff;
}
.pagination .prev:hover,
.pagination .next:hover{
    background: #1c66c8;
}
.pagination .btn-default,
.pagination .btn-default:hover{
    background: #9faebd;
    cursor: not-allowed;
    color: #fff;
    border: 1px solid #9faebd;
}

/*菜单切换*/
.switch{
    background: #EFF0F5;
    margin: 0;
}
.switch a{
    position: relative;
    line-height: 38px;
    display: inline-block;
    color: #2f2f2f;
    padding: 0 30px;
    border: 0;
    margin: 0 15px 0 0;
}
.switch a:hover,
.switch .active{
    background: #fff;
}
.switch em{
    position: absolute;
    left: 50%;
    bottom: 0;
    width:0;
    height:0;
    border-style: solid;
    border-color: transparent transparent #2A68FF;
    border-width: 0 7px 9px;
    margin: 0 0 0 -7px;
    display: none;
}
.switch .active em{
   display: block;
}
.switch-box{
    display: none;
}

/*表单*/
.m-check{
    position: relative;
    display: inline-block;
    line-height: 26px;
}
.m-check em{
    position: relative;
    width: 12px;
    height: 12px;
    display: inline-block;
    vertical-align: middle;
    border: 1px solid #EFF0F5;
}
.m-check span{
    vertical-align: middle;
    padding: 0 0 0 8px;
}
.m-check em.active{
    border: 0;
    width: 14px;
    height: 14px;
    background: url(../images/checked2.png) center center no-repeat;
}
.upload{
    width: 94px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    position: relative;
    cursor: pointer;
    border: 1px solid #AEB0B6;
}
.upload-text{
    position: absolute;
    left: 102px;
    top:0;
    line-height: 28px;
    width: 50%;
    color: #A1A2AC;
}
.upload-input{    
    opacity: 0;
    filter: alpha(opacity=0);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 30px;
    cursor: pointer;
}
/*表格*/
.table th{
    font-weight: normal;
    line-height: 24px;
    padding: 12px 20px 12px 4px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #EFF0F5;
    font-weight: 600;
}
.table td{
    line-height: 20px;
    padding: 16px 20px 16px 4px;
    min-width: 40px;
    border-bottom: 1px solid #EFF0F5;
}
.section .table tr:hover td{
    background: #F9FAFB;
}
.table th:first-child,
.table td:first-child{
    padding-left: 48px;
}
.table th:last-child,
.table td:last-child{
    padding-right: 30px;
}
.table .show-tr{
    cursor: pointer;
}
.table .hide-tr{
    transition: all .8s;
    display: none;
}
.table .hide-td-away{
    padding: 0!important;
}
.table .hide-td-away tr:last-child td{
    border-bottom: 0;
}
.table .left-tr + .hide-tr,
.table .hide-tr.show{
    display: table-row;
}
.table a.away{
    margin: 0 10px 0 0;
}
.table .check-item{
    position: relative;
}
.table span{
    vertical-align: middle;
}
.table .arrow-icon{
    vertical-align: middle;
    margin: 0 0 0 7px;
    width: 6px;
    height: 11px;
    display: inline-block;
    cursor: pointer;
    background: url(../images/arrow.png) no-repeat;
}
.table .arrow-down{
    background: url(../images/arrow02.png) no-repeat;
}
.table .arrow-up{
    background: url(../images/arrow01.png) no-repeat;
}
.table .search-icon{
    background: url(../images/search.png) center center no-repeat;
    width: 13px;
    height: 12px;
    margin: 0 0 0 4px;
}
.table .tag{
    padding: 0 3px;
    border-width: 1px;
    border-style: solid;
    display: inline-block;
    margin: 0 5px;
    line-height: 20px;
    font-size: 12px;
}
.table .tag-orange{
    border-color: #FF6817;
    color: #FF6817;
}
.table .tag-blue{
    border-color: #2A68FF;
    color: #2A68FF;
}
.table .tag-red{
    border-color: #EF0000;
    color: #EF0000;
}
.table .table-details{
    padding: 20px 0;
}
.switch-btn {
    display: flex;
}

.switch-bar {
    position: relative;
    width: 24px;
    height: 14px;
    background: #D7D7D7;
    border-radius: 8px;
    display: inline-block;
    vertical-align: middle;
    margin: 0 6px 0 0;
}

.switch-bar .cricle {
    position: absolute;
    left: 0;
    top: 0;
    width: 14px;
    height: 14px;
    background: #FFFFFF;
    box-shadow: 0px 1px 4px 0px #D7D7D7;
    border-radius: 50%;
    display: block;
}

.open-switch .switch-bar {
    background: #D5E0FF;
}

.open-switch .switch-bar .cricle {
    left: 8px;
    background: #2C5FFF;
    box-shadow: 0px 1px 4px 0px rgba(44, 95, 254, 0.6);
}

/* Icon */
.Icon{
    width: 16px;
    height: 16px;
    display: inline-block;
    vertical-align: middle;
}
.delete-icon{
    background: url(../images/delete.png) center center no-repeat;
}
.up-icon{
    background: url(../images/up.png) center center no-repeat;
    margin: 0 0 0 6px;
}
.down-icon{
    background: url(../images/down.png) center center no-repeat;
    margin: 0 0 0 6px;
}
.save-icon{
    background: url(../images/save.png) center center no-repeat;
}
.saved-icon{
    background: url(../images/saved.png) center center no-repeat;
}
.share-icon{
    background: url(../images/share.png) center center no-repeat;
}
.edit-icon{
    background: url(../images/edit.png) center center no-repeat;
}
.search-icon{
    background: url(../images/search2.png) center center no-repeat;
}
.look-icon{
    background: url(../images/look.png) center center no-repeat;
    margin: 0 6px 0 -20px;
}
.unlook-icon{
    background: url(../images/unlook.png) center center no-repeat;
    margin: 0 6px 0 -20px;
}
.set-icon{
    background: url(../images/set.png) 5px center no-repeat;
}
.member-icon{
    background: url(../images/member.png) no-repeat;
    margin: 0 3px 0 0;
}
.search-icon-blue{
    background: url(../images/more-blue.png) left center no-repeat;
    width: auto;
    height: auto;
    padding: 0 0 0 16px;
}
.delopy-icon{
    width: 13px;
    height: 12px;
    background: url(../images/deploy-gray.png) no-repeat;
    margin: 0 0 0 3px;
}
.change-icon{
    display: inline-block;
    background: url(../images/change.png) left center no-repeat;
    padding: 0 0 0 16px;
    white-space: nowrap;
}
.add-icon{
    display: inline-block;
    background: url(../images/add.png) left center no-repeat;
    padding: 0 0 0 16px;
    white-space: nowrap;
}
.tag-box {
    font-size: 0;
}
.tag-box .tag-item{
    line-height: 24px;
    padding: 0 10px;
    display: inline-block;
    margin: 0 12px 12px 0;
    font-size: 14px;
}
.tag-box .tag-item .loading-img{
    vertical-align: top;
    margin: 3px 0 0 10px;
}
.tag-orange .tag-item{
    border: 1px solid #FF6817;
    color: #FF6817;
}
.tag-box .tag-black{
    border: 1px solid #4C505F;
    color: #4C505F;
}
.tag-orange .tag-item .tag-close{
    width: 10px;
    height: 10px;
    background: url(../images/close2.png) center center no-repeat;
    vertical-align: middle;
    margin: 0 -4px 0 12px;

}
.tag-blue .tag-item{
    border: 1px solid #2A68FF;
    color: #2A68FF;
}
.tag-blue .tag-item.active{
    background: #2A68FF;
    color: #fff;
}

/*提示浮层*/
.sign{
    position: relative;
    margin: 0 0 0 3px;
    vertical-align: middle;
    display: inline-block;
    line-height: 12px;
    width: 12px;
    height: 12px;
    background: url(../images/sign.png) center center no-repeat;

}
.sign.away{
    margin: 6px 0 0 10px;
}
.sign .speak{
    position: absolute;
    top: 24px;
    left: 50%;
    border: 1px solid #f2f2f2;
    background: #fff;
    font-size: 12px;
    color: #999;
    line-height: 16px;;
    width: 186px;
    margin: 0 0 0 -104px;
    padding: 10px;
    opacity: 0; 
    filter: alpha(opacity=0);
    transform: scale(0);
    transform-origin:0 30px 0px 0px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    z-index: 2;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -webkit-box-shadow: 2px 1px 12px #e2e8f1;
    -moz-box-shadow: 2px 1px 12px #e2e8f1;
    box-shadow: 0px 0px 12px #e2e8f1;
}

.sign .speak.blue{
    color:#2A68FF;
}
.sign:hover .speak{
    opacity: 1;
    filter: alpha(opacity=100);
    transform: scale(1);
}
.sign .arrow{
    position: absolute;
    left: 50%;
    top: -8px;
    border-color: transparent transparent #fff;
    border-style: solid;
    border-width: 0 6px 8px;
    margin: 0 0 0 -4px;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    display: none;
}
.sign:hover .arrow{
    display: block;
}
/* 侧边操作 */
.share-box{
    position: fixed;
    right: 40px;
    bottom: 33px;
    width: 40px;
}
.share-box a{
    position: relative;
    width: 40px;
    height: 40px;
    box-shadow: 0px 2px 4px 0px #CEE5F6;
    border-radius: 6px;
    display: block;
    margin: 15px 0 0;
}
.share-box a em{
    position: absolute;
    right: -1px;
    top: -1px;
    background:#ec5a5a;
    width: 7px;
    height: 7px;
    display: block;
    border-radius: 50%;
}
.share-box .notice-icon{
    background: #FFFFFF url(../images/notice.png) center center no-repeat;
}
.share-box .customer-icon{
    background: #FFFFFF url(../images/customer.png) center center no-repeat;
}
.share-box .total-icon{
    background: #FFFFFF url(../images/total.png) center center no-repeat;
}


/*无内容提示*/
.none-box{
    padding: 30px 0;
    text-align: center;
    line-height: 1;
}
.none-box .small{
    font-size: 12px;
}
.none-box .away{
    margin: 16px 0 0;
    padding: 0!important;
}
.none-box .button{
    max-width: 210px;
    margin: 20px 0 0;
}

/** 滚动条 **/
.nano {
  position : relative;
  width    : 100%;
  height   : 300px;
  overflow : hidden;
}
.nano > .nano-content {
  position      : absolute;
  overflow      : scroll;
  overflow-x    : hidden;
  top           : 0;
  right         : 0;
  bottom        : 0;
  left          : 0;
  height: auto!important;
}
.nano > .nano-content:focus {
  outline: thin dotted;
}
.nano > .nano-content::-webkit-scrollbar {
  display: none;
}
.has-scrollbar > .nano-content::-webkit-scrollbar {
  display: block;
}
.nano > .nano-pane {
  background: #F7F8FC;
  position   : absolute;
  width: 6px;
  right      : 0;
  top        : 0;
  bottom     : 0;
  visibility : hidden\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.01;
  -webkit-transition    : .2s;
  -moz-transition       : .2s;
  -o-transition         : .2s;
  transition            : .2s;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano > .nano-pane > .nano-slider {
  background: #bcbcbc;
  position              : relative;
  margin: 0;
  width: 6px;
  -moz-border-radius    : 3px;
  -webkit-border-radius : 3px;
  border-radius         : 3px;
}
.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
  visibility : visible\9; /* Target only IE7 and IE8 with this hack */
  opacity    : 0.99;
}


/*加载更多*/
.more-block{
    padding: 10px 0;
    text-align: center;
    display: block;
}
.more-block span{
    background: url(../images/more-blue.png) left center no-repeat;
    display: inline-block;
    font-size: 14px;
    padding: 0 0 0 20px;
}
.more-box{
    display: block;
    width: 100%;
    font-size: 14px;
    line-height: 24px;
    padding: 20px 0 0;
    text-align: center;
    position:relative;
    overflow: hidden;
}
.more-box span{
    background: url(../images/more.png) center top no-repeat;
    display: block;
    padding-bottom: 32px;
    width: 100%;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
    margin: 0 auto;
    -webkit-animation: scroll-vert 1.5s infinite;
    -moz-animation: scroll-vert 1.5s infinite;
    -o-animation: scroll-vert 1.5s infinite;
    animation: scroll-vert 1.5s infinite;
}
.end-box{
    max-width: 504px;
    margin: 30px auto;
    text-align: center;
    line-height: 0;
    border-bottom: 1px solid #dee8f1;
}
.end-box span{
    font-size: 14px;
    color: #b6b6b6;
    background: #fff;
    padding: 0 10px;
    line-height: 25px;
    display: inline-block;
    margin: 0 0 -16px;
}

@-webkit-keyframes scroll-vert{0%{-ms-transform:translateX(0) translateY(5%);-webkit-transform:translateX(0) translateY(5%);-moz-transform:translateX(0) translateY(5%);transform:translateX(0) translateY(5%);opacity:1}
80%{opacity:0.7}
100%{-ms-transform:translateX(0) translateY(40%);-webkit-transform:translateX(0) translateY(40%);-moz-transform:translateX(0) translateY(40%);transform:translateX(0) translateY(40%);opacity:0}
}
@-moz-keyframes scroll-vert{0%{-ms-transform:translateX(0) translateY(5%);-webkit-transform:translateX(0) translateY(5%);-moz-transform:translateX(0) translateY(5%);transform:translateX(0) translateY(5%);opacity:1}
80%{opacity:0.7}
100%{-ms-transform:translateX(0) translateY(40%);-webkit-transform:translateX(0) translateY(40%);-moz-transform:translateX(0) translateY(40%);transform:translateX(0) translateY(40%);opacity:0}
}
@-ms-keyframes scroll-vert{0%{-ms-transform:translateX(0) translateY(5%);-webkit-transform:translateX(0) translateY(5%);-moz-transform:translateX(0) translateY(5%);transform:translateX(0) translateY(5%);opacity:1}
80%{opacity:0.7}
100%{-ms-transform:translateX(0) translateY(40%);-webkit-transform:translateX(0) translateY(40%);-moz-transform:translateX(0) translateY(40%);transform:translateX(0) translateY(40%);opacity:0}
}
@keyframes scroll-vert{0%{-ms-transform:translateX(0) translateY(5%);-webkit-transform:translateX(0) translateY(5%);-moz-transform:translateX(0) translateY(5%);transform:translateX(0) translateY(5%);opacity:1}
80%{opacity:0.7}
100%{-ms-transform:translateX(0) translateY(40%);-webkit-transform:translateX(0) translateY(40%);-moz-transform:translateX(0) translateY(40%);transform:translateX(0) translateY(40%);opacity:0}
}

@-webkit-keyframes verical-slow {
    0% {
        -webkit-transform: scale(0.75);
    }
    50% {
        -webkit-transform: scale(1);
    }
    100% {
        -webkit-transform: scale(0.75);
    }}
@media screen and (min-height: 960px){
    .side-box .idea-box{
        position: fixed;
    }
}


@media screen and (max-width: 1480px) {
    .subheader .submenu-left a{
        margin: 0 26px;
    }
    .subheader .search{
      width: 148px;
    }
  }
  