@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 *
 */
.layer,
.layer-side{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}
.layer-side{
    display: block;
    left: auto;
    right: -100%;
}
.layer-side .cover{
    position: fixed;
    display: none;
}
.layer .close,
.layer-side .close{
    background: url(../images/layer-close.png) center center no-repeat;
    width: 17px;
    height: 17px;
    position: absolute;
    top: 40px;
    right: 24px;
    z-index: 7;
}
.layer .close{
    right: 30px;
    top: 22px;
}
 /*提示浮层小*/
 .layer-small{
    position: absolute;
    top: 50%;
    left: 50%;
    background: #fff;
    font-size: 14px;
    line-height: 30px;
    padding:0 0 30px;
    width: 420px;
    min-height: 100px;
    margin: -127px 0 0 -210px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
}
  .layer .layer-small .layer-box{
    text-align: center;
 }
  .layer .layer-small img{
    width: 180px;
  }

/*loading加载*/
.layer-loading .layer-tip{
    padding: 10px 30px;
    width: 160px;
    margin: -74px 0 0 -110px;
    min-height: auto
}
.layer-loading img{
    width: 100%;
}
/*单行提示浮层*/
.layer-floating{
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 14px;
    color: #fff;
    text-align: center;
    margin: -40px 0 0 -132px;
    width: 244px;
    line-height: 30px;
    padding: 25px 10px;
    z-index: 99;
    display: none; 
}
.layer-floating .cover{
    opacity: 0.57;
    filter: alpha(opacity=57);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.layer-floating p{
    position: relative;
    font-size: 16px;
}


.layer-title{
    padding: 40px 24px 24px 46px;
    border-bottom: 1px solid #EFF0F5;
    margin: 0 0 8px;
    display: flex;
    align-items: center;
}
.layer-title h1{
    font-size: 18px;
    font-weight: bold;
}
.layer-title .download-icon{
    background: url(../images/download.png) 20px center no-repeat;
    padding: 0 0 0 38px;
    line-height: 24px;
}
.layer-title .deploy-icon{
    background: url(../images/deploy.png) 10px center no-repeat;
    padding: 0 0 0 25px;
    line-height: 24px;
}
.layer .come-back{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 28px;
    height: 28px;
    display: inline-block;
    background: url(../images/back.png) no-repeat;;
}
.layer-tip{
    background: #fff;
    font-size: 14px;
    line-height: 30px;
    padding:0 0 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    min-height: 294px;
    width: 500px;
    margin: -162px 0 0 -250px;
    overflow: hidden;
}
.layer h2{
    line-height: 62px;
    font-size: 16px;
    padding: 0 30px;
    border-bottom: 1px solid #EFF0F5;
    text-align: left;
    font-size: 18px;
    font-weight: bold;
}
.layer p.center{
    text-align: center;
    line-height: 24px;
    max-width: 400px;
    margin: 0 auto;
    padding: 0 0 14px;
    font-size: 14px;
}
.layer .layer-box{
    max-width: 400px;
    margin: 0 auto;
    padding: 30px;
    line-height: 30px;
    text-align: left;
}
.layer .btn{
    text-align: center;
    position: absolute;
    left: 50%;
    bottom: 40px;
    width: 400px;
    margin: 0 0 0 -200px;
    font-size: 0;
}
.layer .btn p{
    line-height: 28px;
    margin: 0 0 -8px;
}
.layer .btn p .away{
    padding: 0 10px;
}
.layer .btn p a{
    padding: 0 0 0 10px;
}
.layer .btn .button-away{
   margin-right: 8%;
}

.layer .form .item-box{
    margin: 0 0 30px;
    position: relative;
}
.layer .form .text{
    width: 366px;
    border: 1px solid #DCDDE3;
    line-height: 36px;
    height: 36px;
    padding: 0 16px;
    font-size: 12px;
    outline: none;
}
.layer .form .error-show{
    line-height: 1;
    font-size: 12px;
    padding: 5px 16px 0;
    margin: 0 0 -17px;
}
.layer .form .add-button{
    position: absolute;
    right: 0;
    top:0;
    width: 120px;
    height: 42px;
    line-height: 42px;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
}
.layer .item-select .text{
    background: url(../images/arrow-bottom2.png) right center no-repeat;
    cursor: pointer;
}
.layer .item-box ul{
    position: absolute;
    top: 38px;
    left: 0;
    width: 100%;
    background: #fff;
    display: none;
    z-index: 4;
    max-height: 90px;
    overflow-x: hidden;
    border-bottom: 1px solid #DCDDE3;
    border-top: none;
}

.layer .item-box ul::-webkit-scrollbar
{
	width: 8px;
	height: 16px;
	background-color: #F5F5F5;
}
 
/*定义滚动条轨道 内阴影+圆角*/
.layer .item-box ul::-webkit-scrollbar-track
{
    cursor: pointer;
}
 
/*定义滑块 内阴影+圆角*/
.layer .item-box ul::-webkit-scrollbar-thumb
{
    background: #bcbcbc;
    cursor: pointer;
}
.layer .item-box li{
    padding: 7px 16px;
    font-size: 12px;
    line-height: 16px;
    border-left: 1px solid #DCDDE3;
    border-right: 1px solid #DCDDE3;
    cursor: pointer;
    border-bottom: 1px solid #F3F4F6;
    color: #A1A2AC;
}
.layer .item-box li:last-child{
    border-bottom: 0;
}
.layer .layer-box .cont{
    line-height: 30px;
    padding: 0 0 10px;
}
.layer .row-2{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0 0 10px;
}
.layer .row-2 .item-select{
    width: 48%;
    margin: 0 0 12px;
}
.layer .row-2 .item-select .text{
    width: 158px;
}
.layer .btn-2 .button{
    width: 47%;
    font-size: 14px;
}
.layer .btn-2 .button-away{
    margin: 0 0 0 6%;
}
.time-box.layui-input-inline{
    display: block;
}
.time-box .layui-input {
    background:url(../images/time.png) 95% center no-repeat;
    padding: 0 30px 0 10px;
    width: 210px;
    display: inline-block;
    margin: 0 10px 20px 0;
}
.time-box2 .layui-input{
    width: 120px;
}

.step{
    margin: 10px 0;
}
.step li{
    position: relative;
    padding: 0 0 65px 28px;
    line-height: 16px;
}
.step li p{
    font-size: 16px;
    font-weight: bold;
    color: #A1A2AC;
}
.step .line{
    background:url(../images/line.png) no-repeat;
    position: absolute;
    left: 0;
    bottom:12px;
    width: 4px;
    height: 42px;
    display: inline-block;
}
.step li:last-child .line{
    display: none;
}
.step .number{
    position: absolute;
    left: -5px;
    top: -1px;
    background: #fff;
    color: #A1A2AC;
    width: 14px;
    line-height: 14px;
    text-align: center;
    display: inline-block;
    border: 1px solid #A1A2AC;
    border-radius: 50%;
}
.step .active .number,
.step .finished .number{
    border: 1px solid #2A68FF;
    color: #2A68FF;
}
.step .active p,
.step .finished p{
    color:#2A68FF;
}

#layer-video .video,
#layer-video video{
    width: 800px;
    height: 450px;
    margin: 0 auto;
}
#example_video_1{
    width: 100%!important;
}
#layer-video .layer-tip{
    width: 860px;
    margin: -274px 0 0 -430px;
}
#layer-video h2,
#layer-report h2{
    line-height: 58px;
    margin: 0 0 10px;
}


#layer-report{
    overflow: scroll;
}
#layer-report .cover{
    position: fixed;
}
#layer-report .layer-tip{
    position: relative;
    margin: 30px auto;
    left: 0;
    top:0;
    width: 1180px;
    overflow: visible;
}
#layer-report .pdf img{
    width: 100%;
    max-width: 1172px;
}
#layer-report .table th,
#layer-report .table td{
    padding: 8px 4px;
}

.form .point{    
    margin: 0 0 20px;
}
.form .point a{
    color: #2A68FF;
    vertical-align: middle;
}
.form label{
    padding: 0 0 0 22px;
    position: relative;
    display: inline-block;
    line-height: 16px;
    height: 16px;
    vertical-align: middle;
}
.form label em{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
    border: 1px solid #2A68FF;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.form label .active{
    background: url(../images/checked.png) 0 center no-repeat;
}

/* 右侧弹层 */
.layer-side .layer-box{
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 640px;
    background: #fff;
}
.layer-side .input-text::-webkit-input-placeholder{
    color:#A1A2AC;
}
.layer-side .input-text:-moz-placeholder{
    color:#A1A2AC;
}

.layer-side .layer-main{
    line-height: 24px;
    padding: 20px 46px;
}
.layer-side .layer-main .name{
    text-align: right;
    width: 100px;
    display: inline-block;
}
.layer-side .speak-away{
    padding: 20px 0 0;
}
.layer-side .speak-away .away{
    padding: 0 0 0 30px;
}
.layer-side .show-item{
    padding: 20px 0 0;
}
.layer-side .show-item .box{
    width: 46%;
    line-height: 26px;
}
.layer-side .layer-btn{
    padding: 82px 0 0;
}
.layer-side .layer-btn .btn-box{
    background: #fff;
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 20px 0 22px;
    text-align: center;
}
.layer-side .layer-btn .button{
    width: 210px;
}
.layer-side .check-table .m-check{
    display: block;
}
.layer-side .check-table .m-check span{
    padding: 0;
    width: 80%;
    display: inline-block;
}
.layer-side .choose label{
    line-height: 30px;
    display: inline-block;
    vertical-align: middle;
}
.layer-side .choose input{
    display: none;
}
.layer-side .choose label span{
    vertical-align: middle;
}
.layer-side .choose label em{
    width: 16px;
    height: 16px;
    border: 1px solid #ADAEB7;
    display: inline-block;
    margin: 0 12px 0 0;
    vertical-align: middle;
    border-radius: 50%;
}
.layer-side .choose label.checked em{
    border: 1px solid #0271E3;
    background:url(../images/radio.png) 0 center no-repeat;
    background-size: 100%;
}
.layer-side .choose p{
    padding: 4px 0 30px;
}
/* 左右布局 */
.layer-row2 .speak{
    padding: 0 0 20px;
}
.layer-row2 .layer-col6{
   width: 46%;
}
.layer-row2 .table th,
.layer-row2 .table td{
    border-bottom: 0;
}
.layer-row2 .table th:first-child,
.layer-row2 .table td:first-child,
.layer-row2.table td:last-child{
    padding: 0;
}
.layer-line{
    background: #EFF0F5;
    position: absolute;
    right: 335px;
    top: 88px;
    width: 1px;
    height: calc(100% - 88px);
}
/* 同名划转 */
#layer-Transfer .input-box{
    padding: 14px 0;
}
#layer-Transfer .input-box .input-text{
    width: 300px;
    line-height: 36px;
    border: 1px solid #DCDDE3;
    padding: 0 12px;
    margin: 0 8px 0 0;
}
#layer-Transfer .input-box .button{
    width: 88px;
    height: 36px;
    background: #2A68FF;
    border-radius: 4px;
    font-size: 14px;
}
/* 自定义 */
.custom-risk{
    padding: 60px 0 0;
    display: flex;
    align-items: center;
}
.custom-risk .input-box{
    position: relative;
    width: 180px;
    line-height: 36px;
    border: 1px solid #DCDDE3;
    display: inline-block;
    font-size: 12px;
    margin: 0 22px 0 0;
}
.custom-risk .input-box .input-text{
    border:0;
    width: calc(100% - 7px);
    padding: 0 0 0 7px;
}
.custom-risk .input-box .type{
    position: absolute;
    right: 8px;
    top: 0;
    color:#A1A2AC;
    font-size: 12px;
}
.custom-risk .small{
    font-size: 12px;
}
/* 重置密码 */
#layer-login .form{
    max-width: 400px;
}
#layer-login dl{
    padding: 0 0 13px;
}
#layer-login .text{
    line-height: 36px;
    border: 1px solid #DCDDE3;
    display: inline-block;
    width: calc(100% - 26px);
    padding: 0 12px;
    outline: none;
}
#layer-login .text-short{
    width: 274px;
}
#layer-login .button-code{
    font-size: 14px;
    width: 88px;
}
#layer-login .btn{
    padding: 16px 0 0;
}
#layer-login .code-box dd{
    display: flex;
    justify-content: space-between;
    padding: 16px 0 9px;
}
/* 升级会员 */
#layer-member .layer-main{
    line-height: 30px;
}
#layer-member .layer-main strong{
    vertical-align: middle;
}
#layer-member .layer-main .away{
    margin: 0 0 0 24px;
}
#layer-member .item p{
    font-size: 14px;
    font-weight: bold;
    padding: 26px 0 14px;
}
#layer-member .item dl{
    float: left;
    width: 33.33%;
    font-size: 12px;
    line-height: 1;
}
#layer-member .item dd{
    font-size: 14px;
    padding: 10px 0 20px;
    font-weight: bold;
}
#layer-member .btn{
    max-width: 210px;
    margin: 20px auto 0;
}

/* 指标关联 */
#layer-relation .layer-main{
    padding: 20px 46px 0;
}
#layer-relation .custom-risk{
    padding: 0;
}
#layer-relation .textarea-box{
    margin: 20px 0 0;
    position: relative;
}
#layer-relation .textarea-box textarea{
    width: 514px;
    line-height: 20px;
    height: 86px;
    border: 1px solid #DCDDE3;
    padding: 12px 18px;
    outline: none;
}
#layer-relation .textarea-box .time,
#layer-relation .textarea-box .number{
    position: absolute;
    font-size: 12px;
    bottom: 11px;
}
#layer-relation .textarea-box .time{
    left: 18px;
}
#layer-relation .textarea-box .number{
    right: 18px;
}
#layer-relation h3{
    padding: 40px 46px 0;
    font-weight: bold;
}
#layer-relation .table td{
    padding-top: 9px;
    padding-bottom: 9px;
}
/* 查找企业 */
#layer-business .layer-main .point p{
    width: 50%;
    float: left;
}
#layer-business .layer-main{
    padding: 0 46px;
}
#layer-business .layer-main h3{
    padding: 40px 0 10px;
    font-weight: bold;
}
#layer-business .layer-main dl{
    width: 25%;
    float: left;
}
#layer-business .layer-main .long{
    width: 50%;
}
#layer-business .layer-main .img-box img{
    margin: 0 0 0 -10px;
}

/* 新建客户档案 */

#layer-file .layer-tip{
    margin: -246px 0 0 -250px;
}
#layer-file dt{
    line-height: 1;
    padding: 0 0 12px;
}
#layer-file .layer-box{
    padding: 30px 0 50px;
}

/* 错误 */
#layer-error .error{
    padding: 60px 0 0;
    text-align: center;
    font-size: 16px;
}
/* 无权限 */
.no-permission{
    position: relative;
}
/* .no-permission .img{
    -webkit-filter: blur(10px);
   -moz-filter: blur(10px);
    -ms-filter: blur(10px);
        filter: blur(10px);

} */
.no-permission .none-box{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.no-permission .none-box h3{
    font-size: 18px;
    font-weight: normal!important;
    padding: 22% 0 0!important;
}
/* 银行流水分析 */
#layer-bank-analysis .layer-tip{
    width: 700px;
    margin: -226px 0 0 -370px;
}
#layer-bank-analysis .layer-box {
    max-width: 600px;
    margin: 0 auto;
    padding: 30px 56px;
    line-height: 1;
    text-align: left;
}
#layer-bank-analysis .col-3{
    width: 28.2%;
}
#layer-bank-analysis .col-9{
    width: 68%;
    position: relative;
    padding: 0 0 40px;
    min-height: 260px;
}
#layer-bank-analysis .col-9 .btn{
    bottom: 0;
}
#layer-bank-analysis dl{
    display: flex;
    align-items: center;
    margin: 0 0 20px;
}
#layer-bank-analysis .form dt{
    width: 180px;
}
#layer-bank-analysis .form dd{
    width: 50%;
}
#layer-bank-analysis .form .text{
    width: 166px;
}
#layer-bank-analysis .form ul{
    top: 38px;
}
#layer-bank-analysis .form .item-box{
    margin: 0;
}
#layer-bank-analysis .file-name{
    height: 74px;
}
#layer-bank-analysis .point{
    line-height: 20px;
    padding: 10px 0 0;
}
#layer-bank-analysis .point .away{
    padding: 0 0 10px;
}
#layer-bank-analysis .item dl{
    justify-content: space-between;
    margin: 0;
}
#layer-bank-analysis .item a{
    border-bottom: 1px solid #2A68FF;
    line-height: 30px;
}
#layer-bank-analysis .special-table th,#layer-bank-analysis .special-table td{
    padding: 3px 2px;
    vertical-align: top;
}
#layer-bank-analysis .nano{
    height: 240px;
}
