@charset "utf-8";
/* CSS Document */

/****************************
 * version:1.0
 *
 */

.section {
  min-height: 600px;
}

.article {
  position: relative;
  max-width: 1100px;
  margin: 0 auto 10px;
}

/* 高级报告 */

.advanced-report .article .content {
  min-height: 328px;
  text-align: center;
  padding: 96px 0;
}

/* 行云验真与分析公用 */
.xingyun-page {
  background: #fff;
}

.xingyun-page .section {
  min-height: auto;
}

.xingyun-page .banner {
  background: url(../images/yanzhen.jpg) center top no-repeat;
  padding: 296px 10px 0;
  position: relative;
  min-height: 404px;
  color: #fff;
}
.xingyun-page .banner .article{
  max-width: 920px;
}

.xingyun-page .banner h1 {
  line-height: 1;
  font-size: 46px;
  letter-spacing: 2px;
  font-weight: bold;
}

.xingyun-page .banner p {
  line-height: 1;
  font-size: 20px;
  letter-spacing: 3px;
  padding: 25px 0 0;
  font-weight: bold;
}

.xingyun-page .video-box{
  padding: 52px 0 0;
}
.xingyun-page .video-box a {
  width: 92px;
  line-height: 22px;
  display: inline-block;
  margin: 0 20px 0 0;
  border-radius: 4px;
  color: #fff;
  font-size: 12px;
  text-align: center;
}

.xingyun-page .video-box .play-video {
  background: #00B5FF;
  border: 1px solid #00B5FF;
}


.xingyun-page .video-box .play-report {
  border: 1px solid #fff
}

.xingyun-page .section01 .article {
  position: relative;
  max-width: 1164px;
  height: 168px;
  background: #FFFFFF;
  box-shadow: 0px 2px 30px 0px rgba(0, 87, 239, 0.14);
  margin: -84px auto 0;
  border-top-left-radius: 66px;
  border-bottom-right-radius: 66px;
}

.xingyun-page .section01 ul{
  padding: 0 20px;
}
.xingyun-page .section01 li {
  width: 25%;
  float: left;
  padding: 46px 0 56px;
}
.xingyun-page .section01 .item{
  position: relative;
  padding: 0 0 0 64px;
  color: #0B0E1B;
}

.xingyun-page .section01 img{
  position: absolute;
  left: 0;
  top:0;
  width: 54px;
}
.xingyun-page .section01 h3 {
  line-height: 1;
  font-size: 18px;
}

.xingyun-page .section01 p {
  font-size: 12px;
  line-height: 20px;
  padding: 8px 0 0;
  max-width: 146px;
}

/* 行云分析 */
.analysis .section .title{
  color: #0B0E1B;
  font-size: 16px;
  text-align: center;
}
.analysis .section .title h3{
  font-size: 40px;
  line-height: 1;
  padding: 0 0 18px;
}
.analysis .section02 .box {
  padding: 35px 0;
  max-width: 1078px;
  margin: 0 auto;
}

.analysis .section02 .box img {
  width: 458px;
}

.analysis .section02 .title {
  padding: 68px 0 0;
  text-align: center;
}

.analysis .section02 .item h3 {
  line-height: 56px;
  font-size: 30px;
  padding: 0 0 6px;
}

.analysis .section02 .item p {
  letter-spacing: 4px;
}
.analysis .section03{
  background:url(../images/analysis-bg3.jpg) center top no-repeat;
}
.analysis .section03 .article{
  max-width: 820px;
  color: #fff;
  height: 655px;
}

.analysis .section03 li{
  position: relative;
  line-height: 24px;
  font-size: 14px;
  padding: 0 0 0 18px;
}
.analysis .section03 li::before{
  position: absolute;
  left: 0;
  top: 6px;
  content: '';
  width: 10px;
  height: 10px;
  border: 1px solid #0AC2FF;
  display: block;
  border-radius: 50%;
}
.analysis .section03 .button{
  line-height: 30px;
  border-radius: 17px;
  border: 1px solid #0AFFF8;
  font-size: 16px;
  font-weight: bold;
  width: 112px;
  display: inline-block;
  color: #fff;
  text-align: center;
  margin: 18px 0 0;
}
.analysis .section03 .item{
  position: absolute;
}
.analysis .section03 .item01{
  left: 5px;
  top: 246px;
}
.analysis .section03 .item02{
  left: 182px;
  top: 146px;
}
.analysis .section03 .item03{
  right: 131px;
  top: 146px;
}
.analysis .section03 .item04{
  right: -28px;
  top: 246px;
}
.analysis .section03 h2{
  font-size: 34px;
  font-weight: bold;
  position: absolute;
  left: 0;
  bottom: 80px;
  text-align: center;
  width: 100%;
}

.analysis .section04 {
  padding: 70px 0 18px;
}

.analysis .section04 .logo-box {
  max-width:1078px;
  margin: 60px auto 0;
}

.analysis .section04 .logo-box li {
  float: left;
  background: #fff;
  width: 256px;
  height: 80px;
  margin: 0 15px 38px 0;
}

.analysis .section04 .logo-box li:nth-child(4n) {
  margin: 0 0 30px;
}


/* 行云验真 */
.authenticity .section02 .box {
  padding: 71px 0 154px;
  max-width: 938px;
  margin: 0 auto;
}

.authenticity .section02 .box .form {
  width: 452px;
}

.authenticity .section02 {
  background: url(../images/yanzhen2.jpg) center top no-repeat;
}
.authenticity .section02 .item {
  width: 300px;
  padding:13% 0 0 20px;
  line-height: 32px;
  font-size: 16px;
  color: #0B0E1B;
}

.authenticity .section02 .item h3 {
  line-height: 1;
  font-size: 40px;
  padding: 0 0 30px;
  font-weight: bold;
}
.authenticity .section02 form p {
  margin: 26px 0 0;
}
.authenticity .section02 form .text{
  line-height: 52px;
  border: 1px solid #E6E7E9;
  font-size: 15px;
  color: #0B0E1B;
  outline:none;
  padding: 0 14px;
  width: calc(100% - 30px);
}
.authenticity .section02 form .text:focus{
  border: 1px solid #E6E7E9;
}

.authenticity .section02 form .button{
  width: 160px;
  margin: 12px 0 0;
}

/*联系我们*/

.contact-us {
  background: #fff;
}

.contact-us .banner {
  background: url(../images/contact-header.jpg) center top no-repeat;
  padding: 218px 10px 84px;
  position: relative;
  min-height: 174px;
  color: #fff;
}

.contact-us .banner .article{
  max-width: 1030px;
}
.contact-us .banner h1 {
  line-height: 1;
  font-size: 46px;
  letter-spacing: 4px;
  font-weight: bold;
  padding: 0 0 60px;
}

.contact-us .banner h1 span {
  font-weight: normal;
  line-height: 28px;
  font-size: 26px;
  display: block;
  padding: 18px 0 0;
  letter-spacing: 0;
}

.contact-us .banner p {
  line-height: 36px;
  font-size: 20px;
  max-width: 1030px;
  margin: 0 auto;
}

.contact-us .section {
  min-height: auto;
}
.contact-us .section article{
  max-width: 1030px;
  padding: 10px 0 100px;
}

.contact-us .section h2 {
  padding: 48px 0 0;
  line-height: 1;
  font-size: 24px;
  color: #0B0E1B;
}

.contact-us .section .img {
  width: 53.5%;
}

.contact-us .section .img img {
  width: 640px;
}
.contact-us .section .img p{
  font-size: 18px;
  color: #0D101D;
  padding: 18px 0 40px;
}
.contact-us .section .idea {
  width: 41.26%;
}

.contact-us .idea form p {
  margin: 26px 0 0;
}
.contact-us .idea form .text{
  line-height: 52px;
  border: 1px solid #E6E7E9;
  font-size: 15px;
  color: #0B0E1B;
  outline:none;
  padding: 0 14px;
  width: calc(100% - 30px);
}
.contact-us .idea form .text:focus{
  border: 1px solid #E6E7E9;
}

.contact-us .idea form .button{
  width: 160px;
  margin: 12px 0 0;
}
.contact-us .idea .idea-box p{
  font-size: 20px;
  line-height: 1;
  padding: 20px 0;
  font-weight: bold;
}

/* 知识库 */
.knowledge-page .article{
  max-width: 1360px;
  padding: 0 60px;
}
.knowledge-page .banner{
  background: url(../images/konwledge-banner.jpg) center top no-repeat;
  padding: 88px 10px 0;
  position: relative;
  min-height: 212px;
  color: #fff;
}
.knowledge-page .banner .left{
  padding: 30px 24px 18px 34px;
  width: 242px;
  background: rgba(42, 104, 255, 0.8);
  box-shadow: 0px 2px 20px 0px rgba(42, 104, 255, 0.27);
  border-radius: 8px;
  color: #fff;
  margin: 0 5.14% 0 0;
}
.knowledge-page .banner .left dt{
  font-size: 13px;
  width: 144px
}
.knowledge-page .banner .left dt h2{
  font-size: 30px;
  line-height: 1;
  padding: 0 0 10px;
}
.knowledge-page .banner .left dd{
  width: 84px;
  text-align: center;
}

.knowledge-page .banner .left .big{
  position: absolute;
  left: 0;
  top: -22px;
  font-size: 44px;
  line-height: 44px;
  font-weight: bold;
  width: 100%;
  text-align: center;
}
.knowledge-page .banner .left .big::after,
.knowledge-page .banner .left .big::before{
  position: absolute;
  top: 22px;
  background: #6693FF;
  width: 10px;
  height: 1px;
  content: '';
  display: inline-block;
  border-radius: 3px;
}
.knowledge-page .banner .left .big::after{
  left: 0;
}
.knowledge-page .banner .left .big::before{
  right: 0;
}

.knowledge-page .banner .left .top{
  height: 14px;
  position: relative;
  box-shadow: 0px 2px 20px 0px rgba(42, 104, 255, 0.27);
  border: 1px solid #6693FF;
  border-top: 0;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  line-height: 1;
  padding: 26px 0 10px;
  font-size: 14px;
}
.knowledge-page .banner .right{
  width: 62.86%;
  font-size: 14px;
  line-height:30px;
}
.knowledge-page .banner .right h3{
  font-size: 20px;
  font-weight: bold;
  padding: 24px 0 10px;
}
.knowledge-page .section ul{
  padding: 50px 0 0;
}
.knowledge-page .section li{
  float: left;
  width: 30.88%;
  margin: 0 3.67% 38px 0;
}
.knowledge-page .section li:nth-child(3n){
  margin: 0 0 38px;
}
.knowledge-page li .news-img {
  display: inline-block;
  width: 100%;
  position: relative;
  vertical-align: middle;
  overflow: hidden;
}

.knowledge-page li .news-img a {
  display: block;
}

.knowledge-page li .news-img img {
  display: none;
  width: 100%;
}

.knowledge-page li .news-img .newsImgCon {
  position: relative;
  width: 100%;
  height: 0;
  padding: 0 0 49.9%;
  overflow: hidden;
  background-repeat: no-repeat;
  background-position: center;
  -moz-background-size: cover;
  background-size: cover;
  background-image: url(../images/error_img.jpg);
  transition: transform .5s linear;
}
.knowledge-page li a:hover .news-img .newsImgCon{transform: scale(1.05);}

.knowledge-page .section .item{
  background: #F9F9F9;
  padding: 24px 35px;
  line-height: 22px;
  font-size: 14px;
}

.knowledge-page .section .item h2{
  font-size: 20px;
  line-height: 30px;
  padding: 0 0 8px;
  font-weight: bold;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.knowledge-page .section .item .point{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.knowledge-page .section .item .author{
  color: #A1A2AC;
  padding: 22px 0 0;
}

/* 公用二级 */
.subpage {
  background: #EDF2F6;
  min-height: 100vh;
}
.subpage .section{
  margin: 0 60px;
}
.subpage .section .article{
  max-width: 1360px;
  margin: 15px auto;
  background: #FFFFFF;
  padding: 15px 0;
  min-height: calc(100vh - 204px);
}
.subpage .section .box{
  padding: 30px 36px 25px;
}
.subpage .section .box:hover{
  background: #FAFAFA;
}
.subpage .section .none-background:hover{
  background: none;
}
.subpage .section .title {
  padding: 0 0 20px;
}
.subpage .section .title .t-left{
  width: 60%;
  display: flex;
  align-items: center;
}
.subpage .section .title .icon{
  padding: 0 0 0 24px;
  display: inline-block;
}
.subpage .section .title .report-icon{
  background: url(../images/switch.png) 5px center no-repeat;
}
.subpage .section .title .update-icon{
  background: url(../images/update.png) 10px center no-repeat;
  margin: 0 0 0 10px;
}
.subpage .section .title .message-icon{
  background: url(../images/message.png) 5px center no-repeat;
}
.subpage .section .title .search-icon{
  background: url(../images/more-blue.png) 5px center no-repeat;
}
.subpage .section .title .add-icon{
  background: url(../images/add.png) 5px center no-repeat;
}
.subpage .section .title .deploy-icon{
  background: url(../images/deploy.png) 5px center no-repeat;
}
.subpage .section .title h2{
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px 0 0;
}
.subpage .section .title .img{
  width: 22px;
  margin: 0 10px 0 0;
}
.subpage .section .title .tag{
  width: 22px;
  line-height: 22px;
  border: 1px solid #D4DFEB;
  display: inline-block;
  text-align: center;
  margin: 0 10px 0 0;
  border-radius: 50%;
}
.subpage .section .title h3{
  font-size: 16px;
  font-weight: bold;
}
.subpage .section .title .time{
  padding-left: 40px;
}
.subpage .section .title .away{
  margin-right: 40px;
}
.subpage .section .progress-box dl{
  padding: 0 0 12px;
  line-height: 16px;
  display: flex;
}
.subpage .section .progress-box dl:last-child{
  padding: 0;
}
.subpage .section .progress-box dt{
  width: 166px;
}
.subpage .section .progress-box .short{
  width: 116px;
}
.subpage .section .progress-box dd{
  position: relative;
  flex: 1;
}
.subpage .section .progress-box .bar-box{
  height: 16px;
  background: #D5E1FF;
}
.subpage .section .progress-box dd .bar{
  position: absolute;
  height: 16px;
  background: #2A68FF;
  width: 200px;
}
.subpage .section .tag-box .tag-item{
    line-height: 20px;
    display: inline-block;
    margin: 8px 12px 0 0;
    font-size: 14px;
    font-size: 12px;
}
.subpage .section .point-box p{
  line-height: 28px;
}
.subpage .section .point-box .away{
  padding-right: 34px;
}
.subpage .section .box02 .title{
  padding: 0;
}
.subpage .section .idea-box dl{
  float: left;
  width: 16.66%;
  line-height: 1;
}
.subpage .section .idea-box .long{
  width: 33.33%;
}
.subpage .section .idea-box dt{
  padding: 20px 0 10px;
  font-size: 12px;
}
.subpage .section .idea-box .small{
  font-size: 12px;
  line-height: 16px;
}
.subpage .section .idea-box span,
.subpage .section .idea-box .sign{
  vertical-align: middle;
}

.subpage .section .idea-box .search-icon{
  width: 13px;
  height: 12px;
  background: url(../images/search.png) no-repeat;
  margin: 0 0 0 3px;
}
.subpage .section .table{
  margin: 0 -36px 28px;
}
.subpage .section .col-6{
  width: 47.5%;
}
.subpage .section .col-7{
  width: 53%;
}
.subpage .section .col-5{
  width: 40%;
  text-align: right;
  padding: 30px 0 0;
}
.subpage .section .special-table{
  margin: 0;
}

.special-table th:last-child,
.special-table td:last-child,
.special-table th:first-child,
.special-table td:first-child{
  padding: 0;
}
.special-table th,
.special-table td{
  padding: 5px 2px;
  font-size: 12px;
  font-weight: normal;
  border-bottom: 0;
}
.special-table .one{
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  width: 70%;
}
.echart-box h3{
  font-size: 16px;
  line-height: 30px;
  padding: 0 0 20px;
  font-weight: bold;
}
.echart-box .col-4{
  width: 31%;
  float: left;
  padding: 0 0 30px;
  margin: 0 3.5% 0 0;
  height: 262px;
}
.echart-box .col-4:nth-child(3n){
  margin: 0;
}

/* 关联关系 */
.page-relation .section .box01 p{
  float: left;
  width: 25%;
  line-height: 30px;
}
.page-relation .section .box02 .title{
  padding: 0;
}

/*设置*/
.set-page .section .box01 .btn{
  padding: 15px 0 0;
  font-size: 0;
}
.set-page .section .box01 .button{
  line-height: 27px;
  border-radius: 4px;
  font-size: 14px;
  max-width: 120px;
  margin: 0 12px 0 0;
}
.set-page .section .table .search-icon{
  background: url(../images/more-blue.png) left center no-repeat;
  display: inline-block;
  font-size: 14px;
  padding: 0 0 0 20px;
  width: auto;
  height: auto;
}
.set-page .table th:last-child,
.set-page .table td:last-child{
  padding-right: 0;
}
.set-page .table th:first-child,
.set-page .table td:first-child{
  padding-left: 36px;
}


/* 客户档案 */

.file-index .submenu-left .button{
  max-width: 130px;
  line-height: 30px;
  background: linear-gradient(209deg, #01A5E3 0%, #2A68FF 100%);
  box-shadow: 0px -4px 10px 0px rgba(2, 119, 229, 0.4);
  border-radius: 4px;
  border: 0;
  font-size: 14px;
}
.file-index .submenu-left .button:hover{
  color: #fff;
}
.file-index .submenu-left .button span{
  padding: 0 6px 0 0;
  font-size: 16px;
}
.file-index .section .box{
  padding: 0;
}
.file-index .section .table{
  margin: 0;
}
.file-index .table .img{
  margin: 0 10px 0 0;
}


/* 银行对账单 */
.blank-page .section .box02 .col-6{
  width: 44.5%;
}
.blank-page .section .box02 dl{
  width: 42%;
}
.blank-page .section .box02 dl:last-child{
  width: 16%;
}
.blank-page .section .stip{
  margin: -8px 0 20px;
  line-height: 22px;
}
.blank-page .img-echart .col-4{
  width: 31%;
}
.blank-page .img-echart .col-8{
  width: 69%;
}
.blank-page .section .img-echart dl{
  width: 50%;
}
.blank-page .section .img-echart dt{
  padding: 0;
}
.blank-page .section .img-echart dd{
  padding: 10px 0 26px;
}
.blank-page .section .img-echart2 dl{
  width: 100%;
}

/* 财务报表 */
.table-model li {
  position: relative;
  min-height: 50px;
  background: #EFF0F5;
  margin: 0 0 10px;
}
.table-model li.first {
  background: none;
  margin: 20px 0 0;
}

.table-model .idea {
  padding: 0 48px 0 20px;
}

.table-model .hide-box {
  display: none;
}

.table-model .hide-box .idea {
  background: #fff;
  border: 1px solid #EFF0F5;
  border-top: 0;
}

.table-model .sign {
  width: auto;
  height: auto;
  background: none;
  font-size: 12px;
  margin: 0 0 -8px;
}
.table-model .sign:hover{
  opacity: 1;
}

.table-model .idea p {
  float: left;
  line-height: 14px;
  padding: 18px 4px;
}

.table-model .idea .one {
  width: 15%;
  /* white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  overflow: hidden; */
}

.table-model .idea .two {
  width: 11%;
}

.table-model .idea .three {
  width: 7%;
  padding: 18px 1%;
}

.table-model .idea .four {
  width: 16%;
}

.table-model .idea .five {
  width: 13%;
}
.table-model .idea .look-btn{
  position: relative;
  cursor: pointer;
}
.table-model .idea .look-btn:hover{
  background: #2A68FF;
  color: #fff;
}
.table-model .idea .look-btn:hover .icon{
  background: url(../images/search-white.png) no-repeat;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 13px;
  height: 12px;
  display: block;
  margin: -6px 0 0;
}

.table-model .idea-up {
  position: absolute;
  right: 36px;
  top: 19px;
  width: 13px;
  height: 13px;
  background: url(../images/up2.png) no-repeat;
}

.table-model .idea-down{
  background: url(../images/down2.png) no-repeat;
}

/* 客户档案全览 */
.file-page .section .box01 .title{
  padding: 0;
}
.file-page .section .box01 .point-box{
  display: flex;
  justify-content: space-between;
  margin: 0 0 16px;
}
.file-page .section .box01 .col-8 dl{
  display: block;
}
.file-page .section .box01 .col-8 p{
  padding: 0 0 10px;
  font-size: 13px;
}
.file-page .section .box01 .col-8 .time{
  display: flex;
  justify-content: space-between;
  color: #000;
  padding:5px 7px;
  opacity: 0.7;
}
.file-page .section .box01 .col-4 .center{
  text-align: center;
}
.file-page .section .box01 .special-table th{
  font-size: 13px;
}
.file-page .section .box01 .special-table th,.file-page .section .box01 .special-table td{
  border-bottom: 1px solid #EFF0F5;
  padding: 4px 2px;
}
.file-page .section .caption h3{
  padding: 24px 0 0;
  font-size: 16px;
  font-weight: 600;
}
.file-page .section .caption p{
  padding: 18px 0 0;
}
.file-page .section .caption .big{
  padding: 0;
  font-size: 24px;
  font-weight: 600;
}
.file-page .echart-box .col-4{
  height: auto;
  padding: 30px 0 0;
}

.file-page .section .row-12 .idea-box dl{
  width: 20%;
}
.file-page .section .row-12 .idea-box .long{
  width: 40%;
}
.file-page .row-12 .col-8{
  width: 65%;
}
.file-page .row-12 .col-4{
  width: 30%;
}
.file-page .row-12 .col-4 h3{
  padding: 0 0 30px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
}
.file-page .section .bank-box .idea-box dl{
  min-height: 72px;
}