@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 * Date:2017-07-31
 *
 */

@media screen and (max-width:1199px){
    .banner{
        padding: 180px 10px 110px;
    }
    .banner h1{
        line-height: 80px;
        font-size: 60px;
        letter-spacing: 12px;
    }
    .section02 .item{
        padding: 46px 0 0;
    }
}
@media screen and (max-width:1024px){
}
@media screen and (max-width:960px){
    .section02 .item{
        padding: 24px 0 0;
        width: 42%;
    }
    .section02 .button{
        margin: 24px 0 0;
    }
}
@media screen and (max-width:768px){
    .banner{
        padding: 130px 10px 50px;
    }
    .banner h1{
        line-height: 60px;
        font-size: 40px;
        letter-spacing: 8px;
    }
    .banner p{
        line-height: 30px;
        font-size: 16px;
    }
    .head-box .nav a{
        margin: 0 20px;
    }
    .section .title h2{
        font-size: 24px;
        line-height: 44px;
    }
    .section02 .box{
        padding: 36px 10px;
    }
    .section02 .item h3{
        line-height: 40px;
        font-size: 24px;
    }
    .section02 .item{
        padding: 0;
    }
    .section03 .box{
        padding: 0;
    }
    .section03 li .item{
        padding: 0 10px 0 70px;
    }
    .section03 li img{
        width: 60px;
    }
}
@media screen and (max-width:640px){

    .head-box .nav{
        position: fixed;
        top: 0;
        left: 0;
        background: rgba(0,0,0,0.6);
        width: 180px;
        height: 100%;
        -webkit-transform: translate3d(-320px,0,0);
        transform: translate3d(-320px,0,0);
        -webkit-transition: -webkit-transform 0.4s;
        transition: transform 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
    .subnav a {
        -webkit-transform: translate3d(0,500px,0);
        transform: translate3d(0,500px,0);
    }

        .show-menu .nav {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: -webkit-transform 0.8s;
        transition: transform 0.8s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

    .show-menu .subnav,
    .show-menu .subnav a {
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: -webkit-transform 0.8s;
        transition: transform 0.8s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }

    .show-menu .subnav a {
        -webkit-transition-duration: 0.9s;
        transition-duration: 0.9s;
    }

    .container::before {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,0.3);
        content: '';
        opacity: 0;
        -webkit-transform: translate3d(100%,0,0);
        transform: translate3d(100%,0,0);
        -webkit-transition: opacity 0.4s, -webkit-transform 0s 0.4s;
        transition: opacity 0.4s, transform 0s 0.4s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
    }
    .show-menu .container::before {
        opacity: 1;
        -webkit-transition: opacity 0.8s;
        transition: opacity 0.8s;
        -webkit-transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        -webkit-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
    }

    .head-box .subnav{
        padding: 40px 0 0;
    }
    .head-box .nav a{
        width: 80%;
        padding:10px 10%;
        margin: 0 0 10px;
    }
    .head-box .nav .active,
    .head-box .nav a:hover{
        border-bottom: 0;
        background: #fff;
        color: #0081e4;
    }
    .head-box .item{
        right: 60px;
    }
    .list-btn{
        display: block;
        background: url(../images/list.png) center center no-repeat;
        background-size: 30px 27px;
        width: 30px;
        height: 27px;
        position: absolute;
        right: 10px;
        top: 20px;
        z-index: 3;
    }
    .button{
        line-height: 38px;
        max-width: 110px;
        font-size: 16px;
        letter-spacing: 2px;
    }
    .banner{
        padding: 130px 10px 0px;
    }
    .section01 .article,
    .section03 .article{
        padding: 30px 10px;
    }
    .section01 li,
    .section03 li{
        width: 100%;
        margin: 20px 0 0;
    }
    .section03 .box{
        max-width: 320px;
        margin: 0 auto;
    }
}
@media screen and (max-width:560px){
}
@media screen and (max-width:480px){
    .head-box .logo {
        font-size: 20px;
    }
    .head-box .item a{
        font-size: 14px;
        padding: 0 14px;
    }
    .banner h1{
        font-size: 34px;
        letter-spacing: 6px;
    }
    .section02 .box{
        padding: 36px 10px 0;
    }
    .section02 .box img,
    .section02 .item{
        float: none;
        margin: 0 auto 36px;
        width: 100%;
        text-align: center;
        font-size: 16px;
    }
    .section02 p{
        text-align: left;
    }
    .footer span{
        display: block;
        padding: 20px 0 0;
    }
    .footer a{
        padding: 0 12px 0 0;
        margin: 0 12px 0 0;
    }
    .footer .last{
        padding: 0;
        margin: 0;
        border-right: none;
    }
    /*二级页*/
    .subpage .sidebar{
        position: relative;
        width: 100%;
        padding: 10px 0;
    }
    .subpage .main{
        padding: 20px 10px 30px;
        border-top: 1px solid #dde7f0;
        border-left: none;
        margin: 0 auto;
        min-height: auto;
    }
}
@media screen and (max-width:360px){
}