@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 *
 */
 /*提示浮层小*/
.cover{
    background: #000;
    opacity: 0.6;
    filter: alpha(opacity=60);
}
.layer{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 20;
    display: none;
}
.layer .close{
    background: url(../images/layer-close.png) no-repeat;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 15px;
    right: 15px;
    z-index: 3;
}
.layer .success-icon{
    display: inline-block;
    background: url(../images/success.png) no-repeat;
    padding: 0 0 0 50px;
    line-height: 36px;
    margin: 0 0 20px;
}
.layer .come-back{
    position: absolute;
    top: 15px;
    left: 15px;
    width: 28px;
    height: 28px;
    display: inline-block;
    background: url(../images/back.png) no-repeat;;
}
.layer h2{
    font-size: 18px;
    line-height: 38px;
}
.layer .btn{
    text-align: center;
    line-height: 40px;
}
.layer .button{
    line-height: 40px;
    width: 140px;
    font-size: 16px;
    margin: 26px 20px 0;
}
.layer .btn .button-away{
   margin-right: 8%;
}
.layer-tip{
    background: #fff;
    font-size: 14px;
    line-height: 20px;
    padding: 50px 30px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    min-height: 100px;
    width: 370px;
    margin: -100px 0 0 -215px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}
.layer-tip-big{
    width: 580px;
    margin: -100px 0 0 -320px;
}
.layer-tip-small{
    padding: 30px 0;
    min-height: 40px;
    line-height: 40px;
    width: 300px;
    margin: -60px 0 0 -150px;
}
.layer-tip-small h2{
    position: relative;
    color: #fff;
}
.layer-tip-small .black{
    color: #525252;
}
.layer-tip .btn .button{
    max-width: 110px;
}

/*loading加载*/
.layer-loading .layer-tip{
    padding: 10px 30px;
    width: 160px;
    margin: -74px 0 0 -110px;
}
.layer-loading img{
    width: 100%;
}
/*单行提示浮层*/
.layer-floating{
    position: fixed;
    top: 50%;
    left: 50%;
    font-size: 16px;
    color: #fff;
    text-align: center;
    margin: -68px 0 0 -183px;
    width: 346px;
    line-height: 30px;
    padding: 53px 10px;
    z-index: 99;
    display: none; 
}
.layer-floating .cover{
    opacity: 0.57;
    filter: alpha(opacity=57);
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.layer-floating p{
    position: relative;
}
.layer-floating .success-icon{
    background: url(../images/success2.png) no-repeat;
    padding: 0 0 0 40px;
    display: inline-block;
}
/*提示浮层大*/
.layer-tip-big{ 
    background: #fff;
    font-size: 14px;
    line-height: 24px;
    padding: 50px 30px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 570px;
    margin: -182px 0 0 -315px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;   
}
.layer-tip-big_nocolor{
    font-size: 14px;
    line-height: 24px;
    padding: 50px 30px 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    text-align: center;
    width: 570px;
    margin: -182px 0 0 -315px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    overflow: hidden;
}
.layer-tip-repeat{
    top:0!important;
    left: auto!important;
    margin: 0!important;
    right: -120%;
}
.layer-rule-repeat{
         top:0!important;
         left: auto!important;
         margin: 0!important;
         right: -120%;
     }
.layer-rule-repeat .box{
         padding: 10px 5%;
        line-height: 24px;
        font-size: 14px;
     }
.layer-rule-repeat .box p{
         text-align: left;
         padding: 0 0 6px;
     }
.layer-box h2{
    padding: 0 0 16px;
    text-align: center;
}
.layer-box h2 .small{
    font-size: 14px;
}
.layer-box h3{
    font-size: 16px;
    line-height: 36px;
}
.layer-box .text{
    border:1px solid #dde7f0;
    height:38px;
    line-height:38px;
    font-size: 14px;
    width: 91.8%;
    padding: 0 4%;    
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}

/*中奖地址确认提示浮层*/
#layer-address .layer-tip-big{
    height: 300px;
}
#layer-address .layer-tip-repeat{
    text-align: left;
}
#layer-address .layer-tip-repeat h2{
    text-align: center;
}
#layer-address .address-box{
    padding: 0 0 0 34px;
    width: 324px;
    text-align: center;
    margin: 0 auto;
}
#layer-address .item{
    position: relative;
    padding: 6px 0;
}
#layer-address .item .error{
    line-height: 28px;
    width: 206px;
    text-align: left;
}

/*图片浮层*/
.layer-img{
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -180px 0 0 -280px;
    width: 560px;
    height: 360px;
    text-align: center;
    background: #fff;
    border: 1px solid #dde7f0;
}
.layer-img img{
    max-height: 360px;
}
/*浮层-页状*/ 
.page-layer{
    position: fixed;
    left: 0;
    top: 100%;
    width: 100%;
    height: 100%;
    z-index: 20;
    background: #fff;
}
.page-layer .title{
    border-bottom: 1px solid #E7EAF3;
    margin: 0 0 30px;
}
.page-layer .close{
    position: absolute;
    top: 27px;
    right: 18px;
    width: 31px;
    height: 31px;
    display: inline-block;
    background: url(../images/close2.png) no-repeat;
    background-size: 100% 100%;
    z-index: 3;
}
.page-layer h2{
    position: relative;
    margin: 0 auto;
    max-width: 1200px;
    font-size: 18px;
    line-height: 84px;
    text-align: center;
}
.page-layer .main{
    max-width: 790px;
    margin: 0 auto;
    line-height: 40px;
}
.page-layer .article{
    padding: 20px 10px 0;
}
.page-layer dl{
    padding: 8px 0 8px 94px;
    position: relative;
    font-size: 14px;
}
.page-layer dt{
    position: absolute;
    top: 8px;
    left: 0;
    width: 94px;
}
.page-layer .text{
    border:1px solid #dde7f0;
    height:38px;
    line-height:38px;
    font-size: 14px;
    width: 91.8%;
    padding: 0 4%;    
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
}
.page-layer .text-select{
    position: relative;
}
.page-layer .text-select .item{
    position: absolute;
    top: 37px;
    left: 0;
    border: 1px solid #dde7f0;
    width: 100%;
    background: #fff;
    display: none;
    z-index: 10;
}
.page-layer .text-select .item-box{
    max-height: 256px;
    overflow-x: hidden;
    overflow-y: scroll;    
    padding: 10px 0 3px 2%;  
    width: 98%;  
}
.page-layer .text-select .item ul{
    padding: 0 0 7px;
}
.page-layer .text-select li{
    padding: 0 9px;
    line-height: 26px;
    font-size: 14px;
    color: #999;
}
.page-layer .text-select li:hover{
    color: #0081e4;
}
.page-layer .select-btn{    
    background:#fff url(../images/arrow-bottom2.png) 95% center no-repeat;
    cursor: pointer;
}
.page-layer .btn{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #e7e7e7;
    text-align: center;
}
.page-layer .btn .box{
    padding: 38px 0;
}
.page-layer .btn .button{
    width: 100%;
    max-width: 160px;
    line-height: 46px;
    font-size: 18px;
    color: #fff;
}
.page-layer .btn .button-blue-line{
    color: #0081e4;
    line-height: 44px;
}
.page-layer .btn .button-blue-line:hover{
    background: #0081e4;
    color: #fff;
}
.page-layer .btn .button-gray{
    background: #ccc;
    margin: 0 0 0 4%;
}
.page-layer .btn .button-away{
    margin: 0 0 0 4%;
}
.page-layer .btn p{
    line-height: 36px;
    margin: 0 0 -16px;
    font-size: 14px;
}
.page-layer .main table{
    border-top: 1px solid #eee;
    border-left: 1px solid #eee;
    text-align: center;
}
.page-layer .main td{
    font-size: 14px;
    padding: 10px 0;
    border-right: 1px solid #eee;
    border-bottom: 1px solid #eee;
}
/*积分兑换*/
#layer-gift .main{
    max-width: 530px;
}
#layer-gift dl{
    padding: 8px 0 8px 105px;
}
#layer-gift dt{
    width: 84px;
    text-align: right;
}
#layer-gift .gift-detial dt{
    top: 43px;
}
#layer-gift .gift-detial dd{
    padding: 0 0 18px;
}
#layer-gift .gift-detial img{
    float: left;
    border: 1px solid #dde7f0;
    width: 100px;
    margin: 0 20px 0 0;
}
#layer-gift .item{
    line-height: 30px;
    float: left;
}
#layer-gift dd .number{
    margin: 0 0 -20px;
}
#layer-gift .surplus{
    padding: 0 15px 0 50px;
}
#layer-gift dd .name{
    padding: 0 10px;
}
#layer-gift label{
    line-height: 24px;
    padding: 0 0 10px 18px;
    position: relative;
    display: inline-block;
}
.page-layer .add-address{
    background: url(../images/icon07.png) 0 center no-repeat;
    font-size: 14px;
    line-height: 40px;
    padding: 0 0 0 14px;
    display: inline-block;
}
#layer-gift .radio{
    position: absolute;
    top: 6px;
    left: 0;
    background: url(../images/check.png) 0 center no-repeat;
    width: 12px;
    height: 12px;
    display: inline-block;
}
#layer-gift .active .radio{
    background: url(../images/checked.png) 0 center no-repeat;
}
.page-layer .address-box{
    padding: 20px 0 0;
    max-width: 324px;
    display: none;
}
.page-layer .address-box p{
    padding: 0 0 12px;
}
.page-layer .address-box .button{
    margin: 6px 0 0;
    width: 100%;
    max-width: 160px;
    line-height: 46px;
    font-size: 18px;
}
/*积分明细*/
.page-layer .integral-main{
    max-width: 880px;
}
.page-layer .integral-main table{
    border: 0;
}
.page-layer .integral-main .odd{
    background: #F7F7F7;
    border: 0;
}
.page-layer .integral-main td{
    border: 0;
    padding: 12px 36px;
    font-size: 14px;
    line-height: 26px;
    min-width: 80px;
}
.page-layer .integral-main .left-text{
    text-align: left;
}
.page-layer .integral-main .right-text{
    text-align: right;
}
.page-layer .integral-main .gray{
    font-size: 14px;
}
/*兑换记录*/
.page-layer .gift-main{
    max-width: 935px;
    line-height: 24px;
}
.gift-main .article{
    padding: 0 10px;
}
.page-layer .nav{
    text-align: center;
    margin: 0 0 36px;   
}
.page-layer .nav a{
    line-height: 40px;
    display: inline-block;
    font-size: 16px;
    margin: 0 18px;
}
.page-layer .nav a:hover{
    color: #0081e4;
}
.page-layer .nav .active{
    border-bottom: 1px solid #0081e4;
    color: #0081e4;
}
.page-layer .nav-box{
    display: none;
}
.page-layer .gift-main table{
    border:0;
    font-size: 14px;
}
.page-layer .gift-main th{
    line-height: 24px;
    background: #F7F7F7;
    font-weight: normal;
    padding: 10px 12px;
}
.page-layer .gift-main td{
    padding: 28px 12px;
    border-right:0;
}
.page-layer .gift-main .left{
    text-align: left;
    padding: 10px 36px;
}
.page-layer .gift-main td.left{
    padding: 28px 36px;
}
.gift-main td img{
    border: 1px solid #eee;
    width: 100px;
}
.gift-main .left img,
.gift-main .left p{
    display: inline-block;
    *display: inline;
    _display: inline;
    vertical-align: middle;
}
.gift-main .left p{
    padding: 0 0 0 20px;    
}
/*邀请浮层*/
#layer-invited .main{
    max-width: 480px;
}
#layer-invited .idea{
    padding: 0 0 12px;
}
#layer-invited .idea p{
    font-size: 14px;
    line-height: 24px;
}
/*收件管理*/
#layer-consignee .main table{
    border:0;
}
#layer-consignee .main th{
    padding: 0 0 8px;
    line-height: 34px;
    font-size: 16px;
    font-weight: normal;
}
#layer-consignee .main td{
    border:0;
    padding: 5px 0;
    line-height: 24px;
}
#layer-consignee .main .left{
    text-align: left;
}
#layer-consignee td a{
    margin:0 8px;
}
#layer-consignee td a:hover{
    color: #0081e4;
}
#layer-consignee td a.set-default-btn{
    display: inline-block;
    width: 90px;
    text-align: center;
}
#layer-consignee td a.set-default-btn.red{
    color: red;
}

/*充值浮层*/
.layer-tip-money{
    padding: 40px 50px 16px;
    width: 466px;
    margin: -183px 0 0 -283px;
    height: 310px;
    text-align: left;
}
.layer-tip-money .item{
    padding: 10px 16px;
    background: #f7f7f7;
    font-size: 14px;
    line-height: 40px;
    margin: 0 0 10px;
}
.layer-tip-money .item .bank{
    float: left;
    margin: 6px 0 0;
    height: 28px;
}
.layer-tip-money .item .name{
    float: left;
    padding: 0 0 0 6px;
}
.layer-tip-money .item .card-number{
    float: right;
}
.layer-tip-money .item .first{
    padding: 0 0 0 5px;
    margin: 0 10px 0 0;
}
.layer-tip-money .item .text{
    width: 66.6%;
    float: left;
    margin: 0 10px 0 0;
    line-height: 38px;
    height: 38px;
    font-size: 14px;
    padding: 0 2%;
}
.layer-tip-money .item .long-text{
    width: 75.6%;
}
.layer-tip-money .point{
    line-height: 24px;
}
.layer-tip-money .point .error{
    padding: 0;
}
.layer-tip-money .stip{
    text-align: center;
}
.layer-tip-money .button{
    margin: 0;
}
/*购买支付提示浮层*/
#layer-common-back .layer-tip-big{
    padding: 40px 50px 16px;
    width: 466px;
    margin: -150px 0 0 -283px;
    height: 244px;
    min-height: 200px;
    text-align: left;
}
.payment h3{
    font-size: 14px;
    line-height: 20px;
    padding: 0 0 16px;
}
.payment .item{
    padding: 16px;
    background: #f7f7f7;
    font-size: 14px;
    line-height: 40px;
    margin: 0 0 10px;
    text-align: center;
}
.payment .item .icon{
    padding: 0 0 0 22px;
    display: inline-block;
    background: url(../images/personal/suc.png) 0 center no-repeat;
}
.payment .item .red{
    background: url(../images/personal/error.png) 0 center no-repeat;
}
.payment .item .pipe{
    height: 14px;
    width: 1px;
    background: #aeb2b6;
    display: inline-block;
    vertical-align: middle;
    margin:0 24px;
}
.payment .item span,
.payment .item a,
.payment .item strong{
    display: inline-block;
    vertical-align: middle;
}
.payment .tel{
    text-align: center;
    line-height: 30px;
    padding: 2px 0 0;
    font-size: 14px;
}
/*赎回订单*/
#layer-redeem .layer-tip-big{ 
    width: 446px;
    margin: -206px 0 0 -253px;
}
#layer-redeem dl{
    padding: 0 0 0 100px;
    max-width: 230px;
    margin: 0 auto;
    line-height: 36px;
    position:relative;
    font-size: 16px;
    text-align: left;
}
#layer-redeem dl dt{
    width: 100px;
    font-size: 14px;
    position: absolute;
    left: 0;
    top: 0;
}
#layer-redeem .tip{
    line-height: 32px;
}
/*定期到期设置*/
#layer-set .layer-tip{
    margin: -134px 0 0 -215px;
    line-height: 26px;
}
#layer-set h2{
    font-size: 16px;
    padding: 0 0 4px;
}
/*赎回订单*/
#layer-email .layer-tip-big{ 
    width: 446px;
    margin: -180px 0 0 -253px;
    line-height: 30px;
}
#layer-email .item{
    padding: 4px 0 10px;
    max-width: 320px;
    margin: 0 auto;
}
#layer-email .item .error{
    line-height: 20px;
    margin: 0 0 -10px;
    text-align: left;
}
/*加息券*/
#layer-rates .layer-tip-big{ 
    width: 446px;
    margin: -200px 0 0 -253px;
    line-height: 30px;
    padding: 40px 30px 30px;
    height: 330px;
}
#layer-rates .layer-box .point{
    margin: 0 0 -10px;
    text-align: left;
}
#layer-rates .layer-box .form{
    padding: 0 18px;
}
#layer-rates .layer-box .item{
    position: relative;
}
#layer-rates .item .button-blue{
    position: absolute;
    right: 0;
    top: 0;
    width: 92px;
    line-height: 40px;
    font-size: 18px;
    text-align: center;
}
#layer-rates .title{
    line-height: 30px;
    padding: 10px 0 24px;
}
#layer-rates .title h3{
    float: left;
    line-height: 30px;
    font-size: 14px;
}
#layer-rates .title .rule-btn{
    float: right;
    background: url(../images/personal/icon08.png) 0 center no-repeat;
    padding: 0 0 0 24px;
}
#layer-rates .rates-box{
    background: url(../images/personal/rates-bg.png) 0 top no-repeat;
    padding: 12px 0;
}
#layer-rates .rates-cont{
    width: 89.7%;
    margin: 0 auto;
    color: #fff;
    text-align: left;
}
#layer-rates .rates-box .rates-item{
    position: relative;
}
#layer-rates .caption{
    font-size: 16px;
    font-weight: bold;
}
#layer-rates .caption span{
    font-size: 14px;
    padding: 0 0 0 3.5%;
    font-weight: normal;
    color: #d3eafc;
}
#layer-rates .rates-box .rates-idea{
    width: 81%;
    padding: 2px 0;
}
#layer-rates .rates-box .idea-box{
    width: 45%;
    float: left;
}
#layer-rates .rates-box .idea-box h4{
    font-size: 14px;
}
#layer-rates .rates-box .num{
    font-size: 24px;
}
#layer-rates .rates-box .r-point{
    line-height: 20px;
    color: #d3eafc; 
    font-size: 12px;
}
#layer-rates .stip{
    text-align: center;
    font-size: 14px;
    padding: 10px 0 0;
}
#layer-rates .use-btn{
    position: absolute;
    right: 0;
    top: 0;
    width: 100px;
    line-height: 30px;
    display: inline-block;
    font-size: 14px;
    color: #0081e4;
    background:#fff;
    text-align: center;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#layer-rates .flex-direction-nav a {
    position: absolute;
    top: 50%;
    width: 12px;
    height: 22px; 
    margin: -11px 0 0;
    display: block;
    cursor: pointer;
    text-indent: -9999px;
    -webkit-transition: all .3s ease;
}
#layer-rates .flexslider{
    height: 110px;
}
.flex-direction-nav .flex-prev {
    background: url(../images/prev-active.png);
    left: -30px;
}
.flex-direction-nav .flex-next {
    background: url(../images/enter-hover.png);
    right: -30px;
}
#layer-rates .flex-direction-nav .flex-prev.flex-disabled{
    background: url(../images/prev.png);
}
#layer-rates .flex-direction-nav .flex-next.flex-disabled{
    background: url(../images/enter.png);
}
#layer-rates .rates-none{
    font-size: 18px;
}
/*对账单下载*/
#layer-account form{
    border: 1px solid #DDE7F0;
    padding: 22px 10px 0;
    min-height: 280px;
}
#layer-account .article{
    padding: 0 10px;
}
#layer-account form dl{
    max-width: 286px;
    margin: 0 auto;
    padding: 0 0 20px 84px;
}
#layer-account form dt{
    top: 0;
    line-height: 40px;
}
#layer-account .text-select{
    max-width: 112px;
}
#layer-account .select-btn{
    text-align: center;
    padding: 0 25px 0 0;
    width: 85px;
    font-size: 14px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    color: #495763;
}
#layer-account .text-select ul{
    padding: 0 0 10px;
}
#layer-account .text-select li{
    padding: 0;
    text-align: center;
}
#layer-account .text-select .item-box{
    padding: 10px 0 0;
    width: 100%;
}
#layer-account .point{
    padding: 16px 0 0;
    text-align: center;
    font-size: 14px;
}
#layer-account .times{
    font-size: 0;
    line-height: 0;
    margin: 0 -15px 0 0;
}
#layer-account .times a{
    background: #b6b6b6;
    border:1px solid #b6b6b6;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    line-height: 38px;
    min-width: 34px;
    text-align: center;
    margin: 0 15px 15px 0;
    padding: 0 10px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#layer-account .times .have{
    background: #fff;
    color: #495763;
    border: 1px solid #dde7f0;
}
#layer-account .times .active{
    background: #0081e4;
    color: #fff;
}

#switch-address-link{
    margin-left: 20px;
    color: #0081e4;
}

#layer-address .text-select .item{
    position: absolute;
    text-align: left;
}

#layer-address .text-select .text{
    height: 58px;
}
#layer-address .text-select .item-box{
    padding: 0;
    max-height: 120px;
}
.layer  .text-select{
    position: relative;
}
.layer .text-select .item{
    position: absolute;
    top: 41px;
    left: 47px;
    border: 1px solid #dde7f0;
    width: 83.2%;
    background: #fff;
    display: none;
    z-index: 10;
}
.layer .text-select .item-box{
    max-height: 256px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px 0 3px 2%;
    width: 100%;
}
.layer .text-select .item ul{
    padding: 0;
}
.layer .text-select li{
    padding: 0 23px;
    line-height: 36px;
    font-size: 14px;
}
.layer .text-select li:hover{
    border: 1px solid #0081e4;
    cursor: pointer;
}
.layer .select-btn{
    background:#fff url(../images/personal/icon21.png) 97% center no-repeat;
    cursor: pointer;
}

.address-select .text-select{
    position: relative;
    margin-bottom: 20px;
}
.address-select .text-select .item-box{
    max-height: 100px;
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 0;
    width: 100%;
}
.address-select .text-select .item ul{
    padding: 0;
}
.address-select .text-select li{
    padding: 0 23px;
    line-height: 36px;
    font-size: 14px;
}
.address-select .text-select li:hover{
    border: 1px solid #0081e4;
    cursor: pointer;
}
.address-select .select-btn{
    background:#fff url(../images/personal/icon21.png) 97% center no-repeat;
    cursor: pointer;
    height:40px;color: #495763; width: 92%;
}

.h_button{
    position: relative;margin: 0 auto;max-width: 800px;font-size: 15px;text-align: right;color: grey
}
.h_button:hover{
    color:red;
    cursor: pointer;
}
.deleteIcon{
    background:url(../images/personal/deleteIcon.png) 50% center no-repeat;
    cursor: pointer;
}
.deleteIcon:hover{
    background:url(../images/personal/deleteIcon_hover.png) 50% center no-repeat;
}


#customer-layer h2{
    margin: -20px 0 12px;
}
#customer-layer .layer-tip-big{
    padding: 50px 30px;
    margin: -202px 0 0 -315px;
}
.layer .form{
    font-size: 0;
    line-height: 0;
}
.layer .form .text{
    padding:0 4%;
    width: 92%;
    border:1px solid #e7e9f1;
    line-height: 48px;
    height: 48px;
    font-size: 18px;
    color: #495763;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
.layer .form .select-btn{    
    background:#fff url(../images/login/icon02.png) right center no-repeat;
    cursor: pointer;
}
.layer .form .text-select .select-box{
    position: absolute;
    top: 49px;
    left: 0;
    border: 1px solid #91b2de;
    width: 99.9%;
    background: #fff;
    display: none;
    z-index: 10;
    max-height: 110px;
    overflow-x: hidden;
    overflow-y: scroll;    
}
.layer .form .text-select li:hover{
   border: none;
}
.layer .form textarea.text{
    padding: 10px 4%;
    line-height: 36px;
    height: auto;
    min-height: 116px;
    margin: 0 0 20px;
}

#layer-contrast {
    overflow-x: hidden;
    overflow-y: auto;
}
#layer-contrast .cover{
    position: fixed;
}
#layer-contrast .layer-tip{
    position: relative;
    left: auto;
    top: auto;
    margin: 30px auto;
}
#layer-contrast .search{
    background: #fff;
    position: relative;
    width: 505px;
    margin: 0 auto 20px;
    padding: 0 46px 0 18px;
    border: 1px solid #e7e9f1;
    line-height: 48px;
    font-size: 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#layer-contrast .search-btn{
    background: url(../images/personal/search.png) no-repeat;
    position: absolute;
    top: 15px;
    left: auto;
    right: 15px;
    width: 18px;
    height: 19px;
    display: inline-block;
}
#layer-contrast input{
    width: 100%;
    background: none;
    line-height: 26px;
    height: 26px;
    border: 0;
    padding: 0;
    font-size: 18px;
    vertical-align: middle;
    outline: none;
}
#layer-contrast input::-webkit-input-placeholder{
    color:#bdc6ce;
}
#layer-contrast input:-moz-placeholder{
    color:#bdc6ce;
}
#layer-contrast .btn .button{
    margin: 0;
}


#layer-show .cover{
    position: absolute;
}
/*资方-添加对比组*/
#save-contrast .layer-tip-big,
#details-contrast .layer-tip-big{
    padding: 30px;
}
#save-contrast .form,
#details-contrast .form{
    margin: 30px auto 0;
    max-width: 500px;
}
#save-contrast .form p,
#details-contrast .form p{
    font-size: 14px;
    line-height: 30px;
    text-align: left;
}
#save-contrast dl,
#details-contrast dl{
    position: relative;
    margin: 22px 0 0;
    padding: 0 0 0 110px;
}
#save-contrast dt,
#details-contrast dt{
    position: absolute;
    left: 0;
    top: 0;
    width: 110px;
    font-size: 14px;
    line-height: 50px;
}
#save-contrast input,
#details-contrast input{
    font-size: 14px;
}
#save-contrast input::-webkit-input-placeholder,
#details-contrast input::-webkit-input-placeholder{
    color:#bdc6ce;
}
#save-contrast input:-moz-placeholder,
#details-contrast input:-moz-placeholder{
    color:#bdc6ce;
}
#save-contrast .btn{
    padding: 40px 0 30px;
}

#details-contrast .form label{
    padding: 0 0 0 26px;
    position: relative;
    display: inline-block;
    line-height: 36px;
}
#details-contrast .form label em{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 9px;
    left: 0;
    display: inline-block;
    background: url(../images/radio.png) center center no-repeat;
}
#details-contrast .form label .active{
    background: url(../images/radio-active.png) center center no-repeat;
}
#details-contrast .btn{
    padding: 10px 0 20px;
}

/*评论弹窗*/
.text::-webkit-input-placeholder {
    color: #bdc6ce;
}
.text:-moz-placeholder {
    color: #bdc6ce;
}
.text::-moz-placeholder {
    color: #bdc6ce;
}
.text:-ms-input-placeholder {
    color: #bdc6ce;
}
#layer-comment h2{
    font-size: 20px;
    padding: 0 0 10px; 
}
#layer-comment .layer-tip-big{
    padding: 30px;
    margin: -267px 0 0 -315px;
}
#layer-comment .form{
    text-align: left;
}
#layer-comment .form h3{
    font-size: 18px;
    line-height: 40px;
    padding: 0 0 20px;
}
#layer-comment .rank{
    line-height: 30px;
    padding: 0 0 16px;
}
#layer-comment .rank span{
    font-size: 14px;
    vertical-align: middle;
}
#layer-comment .rank a{
    font-size: 14px;
    line-height: 28px;
    border: 1px solid #525252;
    width: 90px;
    text-align: center;
    display: inline-block;
    vertical-align: middle;
    margin: 0 12px 0 0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}
#layer-comment .rank .active{
    color: #fff;
    background: #248df8;
    border: 1px solid #248df8;
}
#layer-comment .form textarea.text{
    min-height: 80px;
    margin: 14px 0 0;
}