@charset "utf-8";
/* CSS Document */
/****************************
 * version:1.0
 * Date:2017-08-16
 *
 */
/*首页*/
.index .header{
    margin: 0;
}
.index .article{
    padding: 60px 10px;
    text-align: center;
}
.index .section .title{
    line-height: 36px;
}
.index .section .title h1{
    font-size: 30px;
    padding: 0 0 6px;
}
.index .section .title p{
    font-size: 14px;
}
.index .section .more{
    padding:50px 0 0;
}
.index .section .more a{
    line-height: 36px;
    font-size: 18px;
    padding: 0 26px;
}
.index .section .left{
    float: left;
}
.index .section .right{
    float: right;
}

/*主体*/
.index .section01{
    background: url(../images/index/01.jpg) center top no-repeat;
    color: #d3eafc;
    padding: 104px 0 0;
    min-height: 396px;
}
.index .section01 .article{
    max-width: 1090px;
    margin: 0 auto;
    padding: 0;
}
.index .section01 .left{
    width: 440px;
    padding: 22px 22px 0;
    line-height: 30px;
    font-size: 16px;
}
.index .section01 .left img{
    margin: 0 0 20px;
    width: 138px;
}
.index .section01 .right{
    width: 340px;
    padding: 0 40px 0 0;
    text-align: left;
}
.form dl{
    padding: 16px 0 0;
}
.form dd{
    position: relative;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {   
 /* WebKit browsers */   
color: #d3eafc;   
}   
input:-moz-placeholder, textarea:-moz-placeholder {   
/* Mozilla Firefox 4 to 18 */   
color: #d3eafc;   
}   
input::-moz-placeholder, textarea::-moz-placeholder {   
 /* Mozilla Firefox 19+ */   
color: #d3eafc;   
}   
input:-ms-input-placeholder, textarea:-ms-input-placeholder {   
 /* Internet Explorer 10+ */   
color: #d3eafc;   
}
.index .section01 .item{    
    border:1px solid #71a5d7;
    line-height: 30px;
    font-size: 16px;
    color: #d3eafc;
    margin: 20px 0 14px;
    border-radius: 2px;
}
.index .section01 .item p{    
    padding: 8px 18px;
}
.form .text{
    background: none;
    padding:0 4%;
    width: 91.5%;
    border:1px solid #71a5d7;
    line-height: 46px;
    height: 46px;
    font-size: 16px;
    color: #fff;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.form .point{    
    font-size: 14px;
    margin: 12px 0 0;
}
.form label{
    padding: 0 0 0 22px;
    position: relative;
    display: inline-block;
    line-height: 16px;
}
.form label em{
    width: 14px;
    height: 14px;
    position: absolute;
    top: 0px;
    left: 0;
    display: inline-block;
    border: 1px solid #dde7f0;
    -moz-border-radius: 1px;
    -webkit-border-radius: 1px;
    border-radius: 1px;
}
.form label .active{
    background: url(../images/login/checked.png) 0 center no-repeat;
    border: 1px solid #0081e4;
}
.form .btn{
    padding: 28px 0 0;
}
.form .btn p{
    text-align: center;
    line-height: 20px;
    padding: 0 0 12px;
    margin: -20px 0 0;
}
.index .section01 .button{
    line-height: 48px;
    font-size: 20px;
    width: 100%;
    background:#fff;
    color:#0181e4;
}
.form .idea{
    padding: 26px 0 0;
    font-size: 14px;
    text-align: center;
    line-height: 18px;
}
.form .idea a{
    vertical-align: middle;
    color: #d3eafc;
}
.form .idea .pipe{
    background: #d3eafc;
    width: 1px;
    height: 16px;
    vertical-align: middle;
    display: inline-block;
    margin: 0 20px;
}
.index .section02 .left{
    width: 382px;
    padding: 5px 0;
}
.index .section02 .right{
    text-align: left;
    width: 740px;
    line-height: 30px;
    font-size: 14px;
}
.index .section03{
    background: url(../images/index/03.jpg) center center no-repeat;
}
.index .section03 .left{
    width: 722px;
}
.index .section03 li{
    float: left;
    width: 33.2%;
}
.index .section03 .long{
    width: 49.8%;
}
.index .section03 .idea{
    background: #015eb9;
    padding: 50px 0 50px;
    height: 82px;
    font-size: 0;
    color: #d3eafc;
    transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    -webkit-box-shadow: 0 0 5px #0159b4; 
    -moz-box-shadow: 0 0 5px #0159b4;
    box-shadow: 0 0 5px #0159b4;
}
.index .section03 li:hover .idea{
    padding: 66px 0 50px;
    margin: -16px 0 0;
}
.index .section03 .bg{
    background: #1798fb;
}
.index .section03 .idea p{
    font-size: 20px;    
    line-height: 30px;
}
.index .section03 .icon{
    width: 40px;
    height: 40px;
    display: inline-block;
}
.index .section03 .icon01{
    background: url(../images/index/icon01.png) center center no-repeat;
    margin: 0 0 12px;
}
.index .section03 .icon02{
    background: url(../images/index/icon02.png) center center no-repeat;
    margin: 0 0 12px;
}
.index .section03 .icon03{
    background: url(../images/index/icon03.png) center center no-repeat;
    margin: 0 0 12px;
}
.index .section03 .icon04{
    background: url(../images/index/icon04.png) center center no-repeat;
    margin: 0 0 12px;
}
.index .section03 .icon05{
    background: url(../images/index/icon05.png) center center no-repeat;
    margin: 0 0 12px;
}
.index .section03 .right{
    width: 384px;
    padding: 50px 0;
}
.index .section04{
    background: #0081e4;
    color: #d3eafc;
}
.index .section04 .article{
    padding: 72px 10px;
    overflow: visible;
    max-width: 1920px;
}
.index .section04 .left{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 49.9%;
    background: url(../images/index/04-1.jpg) center center no-repeat;
}
.index .section04 .right{
    width: 50.1%;
}
.index .section04 .right p{
    text-align: left;
    max-width: 600px;
    text-align: right;
}
.index .section05{
    background: #F8F8F8;
}
.index .section05 h2,
.index .section06 h2{
    font-size: 24px;
    line-height: 48px;
    padding: 0 0 30px;
    margin: -12px 0 0;
}

.index .section06 .logo{
    width: 162px;
    float: left;
}
.index .section06 .logo span{
    display: block;
}
.index .section06 span img{
    width: 162px;
    display: none;
}
.index .section06 span .img02,
.index .section06 span:hover .img01{
    display: none;
}
.index .section06 span .img01,
.index .section06 span:hover .img02{
    display: block;
}
.index .section06 span:hover{    
    -webkit-box-shadow: 0 0 8px #ececec; 
    -moz-box-shadow: 0 0 8px #ececec;
    box-shadow: 0 0 8px #ececec;
}